@{
    string addUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Add";
    string listUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "List";
    string deleteUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Delete";
    string detailUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Detail";
    IEnumerable<ProductLanguageInfo> pageLanguageInfos = Model.Product?.ProductLanguageInfos;
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Localizer["admin.Kayıt Başarılı"]</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Localizer["admin.Kayıt Hatası"]</strong> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section class="pc-container custom-container">
    <div class="pc-content custom-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <!-- HTML Input Types -->
                <div class="card">
                    <div class="card-header custom-page-header">
                        <h5>@ViewContext.RouteData.Values["controller"].ToString() @Localizer["admin.Yeni Ekle/Düzenle"]</h5>
                        <div class="btn-group" role="group" aria-label="button groups">
                            @if (Model.MenuPermission?.Add)
                            {
                                <button type="button" onclick="GetPage('0','@addUrl');" class="btn btn-light-primary">@Localizer["admin.Yeni Ekle"]</button>
                            }
                            @if (Model.MenuPermission?.List)
                            {
                                <button type="button" onclick="GetPage('0','@listUrl');" class="btn btn-light-primary">@Localizer["admin.Listele"]</button>
                            }
                        </div>
                    </div>
                    <form id="formPost" class="form" action="" method="post" autocomplete="off">
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-4 col-sm-12">
                                    <label for="Sequence" class="form-label">@Localizer["admin.Sırası"]</label>
                                    <input class="form-control" type="number" name="Sequence" id="Sequence" value="@Model.Product?.Sequence" autocomplete="off" required />
                                </div>

                                <div class="mb-3 col-md-4 col-sm-12">
                                    <label for="Sequence" class="form-label">@Localizer["admin.Tipi"]</label>
                                    <div class="form-group">
                                        <label class="radio-inline" style="display: inline-flex">
                                            <input type="radio" style="height:20px;width:20px" name="Type" id="satinalma" value="1" @if (Model.Product?.Type == 1)
                                            {
                                                @Html.Raw("checked")
                                            } required><span style="margin-left:5px">@Localizer["admin.Satın Alma"]</span>
                                        </label>
                                        <label class="radio-inline" style="display: inline-flex">
                                            <input type="radio" style="height:20px;width:20px;" name="Type" id="yenileme" value="2" @if (Model.Product?.Type == 2)
                                            {
                                                @Html.Raw("checked")
                                            }><span style="margin-left:5px">@Localizer["admin.Yenileme"]</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-3 col-sm-10">
                                    <label for="Image" class="form-label">@Localizer["admin.Görsel"]</label> <small>500x500px</small>
                                    @if (Model.Product?.Image != null)
                                    {
                                        <small style="float:right"><a href="javascript:GorselKaldir('@Model.Product?.Id')">Kaldır</a></small>
                                    }
                                    <input class="form-control" type="file" name="Image" id="Image" />
                                </div>
                                <div class="mb-3 col-md-1 col-sm-2">
                                    @if (Model.Product?.Image != null)
                                    {
                                        <a href="/Images/Product/@Model.Product?.Image" target="_blank">
                                            <img src="/Images/Product/@Model.Product?.Image" style="width: 100%" />
                                        </a>
                                    }
                                </div>
                                <div class="mb-3 col-md-4 col-sm-12">
                                    <label for="Amount" class="form-label">@Localizer["admin.Fiyat"]</label>
                                    <input class="form-control amount" type="text" placeholder="0,0" name="Amount" id="Amount" value="@Model.Product?.Amount" autocomplete="off" required />
                                </div>
                                <div class="mb-3 col-md-4 col-sm-12">
                                    <label for="Tax" class="form-label">@Localizer["admin.Vergi Oranı (%)"]</label>
                                    <input class="form-control amount" type="text" placeholder="0,0" name="Tax" id="Tax" value="@Model.Product?.Tax" autocomplete="off" required />
                                </div>
                                <div class="mb-3 col-md-4 col-sm-12">
                                    <label for="Year" class="form-label">@Localizer["admin.Paket Yılı"]</label>
                                    <input class="form-control" type="number" step="1" min="0" name="Year" id="Year" value="@Model.Product?.Year" autocomplete="off" required />
                                </div>
                                <div class="mb-3 col-md-4 col-sm-12">
                                    <label for="Status" class="form-label">@Localizer["admin.Durum"]</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="Status" id="Status" value="True" @(Model.Product?.Status == true ? "checked" : "") />
                                        <label class="form-check-label" for="Status">@Localizer["admin.Aktif"]</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-sm-12">
                                    <div class="accordion card" id="dilBloklari">
                                        @for (int i = 0; i < Model.Languages.Count; i++)
                                        {
                                            ProductLanguageInfo languageInfo = null;
                                            if (pageLanguageInfos != null)
                                            {
                                                languageInfo = pageLanguageInfos.Where(x => x.LanguageId == Model.Languages[i].Id).FirstOrDefault();
                                            }
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-@i">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="false" aria-controls="collapse-@i">
                                                        @Model.Languages[i].Name
                                                    </button>
                                                </h2>
                                                <!-- classın içine "show" eklersen açık gelir ve yukarıdaki button içine aria-expanded="true" eklersen ok işareti çıkar ve button içinde collapsed clasını kaldırmalısın-->
                                                <div id="collapse-@i" class="accordion-collapse collapse @(languageInfo?.Status == true ? "show" : "")" aria-labelledby="heading-@i" data-bs-parent="#dilBloklari">
                                                    <div class="accordion-body">
                                                        <input type="hidden" name="ProductLanguageInfos[@i].Id" id="ProductLanguageInfos[@i].Id" value="@languageInfo?.Id" />
                                                        <input type="hidden" name="ProductLanguageInfos[@i].LanguageId" id="ProductLanguageInfos[@i].LanguageId" value="@Model.Languages[i].Id" />
                                                        <div class="row">
                                                            <div class="mb-3 col-md-5 col-sm-12">
                                                                <label for="ProductLanguageInfos[@i].Title" class="form-label">@Localizer["admin.Başlık"]</label>
                                                                <input class="form-control" type="text" name="ProductLanguageInfos[@i].Title" id="ProductLanguageInfos[@i].Title" value="@languageInfo?.Title" autocomplete="off" onkeyup="toSeo('ProductLanguageInfos[@i].Title','ProductLanguageInfos[@i].Slug')" />
                                                            </div>
                                                            <div class="mb-3 col-md-5 col-sm-12">
                                                                <label for="ProductLanguageInfos[@i].Slug" class="form-label">@Localizer["admin.Slug"]</label>
                                                                <input class="form-control" type="text" name="ProductLanguageInfos[@i].Slug" id="ProductLanguageInfos[@i].Slug" value="@languageInfo?.Slug" autocomplete="off" />
                                                            </div>
                                                            <div class="mb-3 col-md-5 col-sm-12">
                                                                <label for="ProductLanguageInfos[@i].Description" class="form-label">@Localizer["admin.Açıklama"]</label>
                                                                <textarea class="form-control" name="ProductLanguageInfos[@i].Description" id="ProductLanguageInfos[@i].Description">@languageInfo?.Description</textarea>
                                                            </div>
                                                            <div class="mb-3 col-md-2 col-sm-12">
                                                                <label for="ProductLanguageInfos[@i].Status" class="form-label">@Localizer["admin.Durum"]</label>
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" name="ProductLanguageInfos[@i].Status" id="ProductLanguageInfos[@i].Status" value="True" @(languageInfo?.Status == true ? "checked" : "") />
                                                                    <label class="form-check-label" for="ProductLanguageInfos[@i].Status">@Localizer["admin.Aktif"]</label>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3 col-md-5 col-sm-12">
                                                                <label for="ProductLanguageInfos[@i].EDevletEmail" class="form-label">@Localizer["admin.E-Devlet Mail İçeriği"]</label>
                                                                <textarea class="form-control" name="ProductLanguageInfos[@i].EDevletEmail" id="ProductLanguageInfos[@i].EDevletEmail">@languageInfo?.EDevletEmail</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <input type="hidden" name="Id" value="@Model.Product?.Id">
                            <button type="submit" class="btn btn-success me-2">@Localizer["admin.Kayıt"]</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- [ form-element ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<partial name="/Areas/Admin/Views/Shared/_RegScripts.cshtml" />
<script type="text/javascript">
    function GorselKaldir(id) {
        var data = new FormData();
        data.append("id", id);
        $.ajax({
            type: "POST",
            url: "/Admin/@ViewContext.RouteData.Values["controller"].ToString()/GorselKaldir",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                SayfaYenile();
            },
            error: function (jqXHR, status, errorThrown) {
                alert("Result: " + status + " Status: " + jqXHR.status);
            }
        });
    }

    $(".editorCk").each(function () {
        let editorId = $(this).attr('id');
        CKEDITOR.replace(editorId, { //ckeditor kullanıldığında açılır
            height: '350px',
            extraPlugins: 'forms',
            uiColor: '#CCEAEE'
        });
    });

    $('#formPost').submit(function (e) {
        e.preventDefault(); //submit postu kesyoruz
        var data = new FormData(this);
        $(".editorCk").each(function () {
            let editorId = $(this).attr('id');
            data.set(editorId, CKEDITOR.instances[editorId].getData());//ckeditor kullanılacağı zaman açılır 'ckeditor' yazan kısmı post keyidir
        });
        $('#Pages').html('<img src="/Images/loading.gif" style="position:relative;left:50%;margin-top:10%;width:64px">');
        $.ajax({
            type: "POST",
            url: "@addUrl",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                $('#Pages').html(res);
            },
            error: function (jqXHR, status, errorThrown) {
                alert("Result: " + status + " Status: " + jqXHR.status);
            }
        });
    });
</script>