@{
    string addUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Add";
    string listUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "List";
    string deleteUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Delete";
    string detailUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Detail";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Localizer["admin.Kayıt Başarılı"]</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Localizer["admin.Kayıt Hatası"]</strong> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section class="pc-container custom-container">
    <div class="pc-content custom-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <!-- HTML Input Types -->
                <div class="card">
                    <div class="card-header custom-page-header">
                        <h5>@Localizer["admin."+ViewContext.RouteData.Values["controller"].ToString()] @Localizer["admin.Yeni Ekle/Düzenle"]</h5>
                        <div class="btn-group" role="group" aria-label="button groups">
                            @if (Model.MenuPermission?.Add)
                            {
                                <button type="button" onclick="GetPage('0','@addUrl');" class="btn btn-light-primary">@Localizer["admin.Yeni Ekle"]</button>
                            }
                            @if (Model.MenuPermission?.List)
                            {
                                <button type="button" onclick="GetPage('0','@listUrl');" class="btn btn-light-primary">@Localizer["admin.Listele"]</button>
                            }
                        </div>
                    </div>
                    <form id="formPost" class="form" action="" method="post" autocomplete="off">
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="Name" class="form-label">@Localizer["admin.Adı"]</label>
                                    <input class="form-control" type="text" name="Name" id="Name" value="@Model.Company?.Name" autocomplete="off" required />
                                </div>
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="UserId" class="form-label">@Localizer["admin.Kurumsal Satış Temsilcisi"]</label>
                                    <select class="select2 form-control block" name="CorporateSalesRepresentative" id="CorporateSalesRepresentative">
                                        @foreach (var usersInCorporateSalesRepresentative in Model.UsersInCorporateSalesRepresentative)
                                        {
                                            var isSelected = Model.Company != null && Model.Company.CorporateSalesRepresentative.Contains(usersInCorporateSalesRepresentative.Id);
                                            if (isSelected)
                                            {
                                                <option value="@usersInCorporateSalesRepresentative.Id" selected>@usersInCorporateSalesRepresentative.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@usersInCorporateSalesRepresentative.Id">@usersInCorporateSalesRepresentative.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="UserId" class="form-label">@Localizer["admin.Operasyon Temsilcisi"]</label>
                                    <select class="select2 form-control block" name="OperationRepresentative" id="OperationRepresentative">
                                        @foreach (var usersInOperationRepresentative in Model.UsersInOperationRepresentative)
                                        {
                                            var isSelected = Model.Company != null && Model.Company.OperationRepresentative.Contains(usersInOperationRepresentative.Id);
                                            if (isSelected)
                                            {
                                                <option value="@usersInOperationRepresentative.Id" selected>@usersInOperationRepresentative.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@usersInOperationRepresentative.Id">@usersInOperationRepresentative.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="Status" class="form-label">@Localizer["admin.Durumu"]</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="Status" id="Status" value="True" @(Model.Company?.Status == true ? "checked" : "") />
                                        <label class="form-check-label" for="Status">@Localizer["admin.Aktif"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <input type="hidden" name="Id" value="@Model.Company?.Id">
                            <button type="submit" class="btn btn-success me-2">@Localizer["admin.Kayıt"]</button>
                        </div>
                    </form>
                </div>
            </div>

            @if (Model.Company?.Id != 0 && Model.Company?.Id != null)
            {
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" id="basic-layout-colored-form-control">@Localizer["admin.Firma Fatura Bilgisi Ekle"]</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form id="subUnitPost" class="form" action="" method="post" autocomplete="off">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="mb-3 col-md-3 col-sm-12">
                                                <label for="Name" class="form-label">@Localizer["admin.Adı"]</label>
                                                <input class="form-control" type="text" name="Name" id="Name" value="" autocomplete="off" required />
                                            </div>
                                            <div class="mb-3 col-md-3 col-sm-12">
                                                <label for="Status" class="form-label">@Localizer["admin.Durum"]</label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="Status" id="CompanyInvoiceStatus" value="True" />
                                                    <label class="form-check-label" for="Status">@Localizer["admin.Aktif"]</label>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-12 col-sm-12">
                                                <label for="FullAddress" class="form-label">@Localizer["admin.Tam Adres"]</label>
                                                <textarea id="FullAddress" name="FullAddress" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <input type="hidden" name="Id" id="Id" value="" />
                                            <button type="submit" class="btn btn-success me-2">@Localizer["admin.Kayıt"]</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">@Localizer["admin.Firma Fatura Bilgileri"]</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard" id="subUnitList">
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        SubUnitList('@Model.Company?.Id');
                    });
                </script>
            }
            <!-- [ form-element ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<partial name="/Areas/Admin/Views/Shared/_RegScripts.cshtml" />
<script type="text/javascript">
    $(".editorCk").each(function () {
        let editorId = $(this).attr('id');
        CKEDITOR.replace(editorId, { //ckeditor kullanıldığında açılır
            height: '350px',
            extraPlugins: 'forms',
            uiColor: '#CCEAEE'
        });
    });

    $('#formPost').submit(function (e) {
        e.preventDefault(); //submit postu kesyoruz
        var data = new FormData(this);
        $(".editorCk").each(function () {
            let editorId = $(this).attr('id');
            data.set(editorId, CKEDITOR.instances[editorId].getData());//ckeditor kullanılacağı zaman açılır 'ckeditor' yazan kısmı post keyidir
        });
        $('#Pages').html('<img src="/Images/loading.gif" style="position:relative;left:50%;margin-top:10%;width:64px">');
        $.ajax({
            type: "POST",
            url: "@addUrl",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                $('#Pages').html(res);
            },
            error: function (jqXHR, status, errorThrown) {
                alert("Result: " + status + " Status: " + jqXHR.status);
            }
        });
    });

    //Alt Birim
    $('#subUnitPost').submit(function (e) {
        e.preventDefault(); //submit postu kesyoruz
        var data = new FormData(this);
        data.append("CompanyId", '@Model.Company?.Id');
        $.ajax({
            type: "POST",
            url: "/Admin/@ViewContext.RouteData.Values["controller"].ToString()/SubUnitRecord",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.status == "success") {
                    document.getElementById("subUnitPost").reset();
                    SubUnitList('@Model.Company?.Id');
                } else {
                    alert(res.message);
                }
            },
            error: function (jqXHR, status, errorThrown) {
                alert("Result: " + status + " Status: " + jqXHR.status);
            }
        });
    });

    function SubUnitList(Id) {
        $.ajax({
            type: "POST",
            url: "/Admin/@ViewContext.RouteData.Values["controller"].ToString()/SubUnitList",
            data: { 'Id': Id },
            success: function (res) {
                $('#subUnitList').html(res);
            }
        });
    }

    function SubUnitUpdate(Id, Title, Status, FullAddress) {
        $('#subUnitPost').find('#Id').val(Id)
        $('#subUnitPost').find('#Title').val(Title)
        if (Status === true || Status === "True") {
            $('#subUnitPost').find('#CompanyInvoiceStatus').prop('checked', true)
        } else {
            $('#subUnitPost').find('#CompanyInvoiceStatus').prop('checked', false)
        }
        $('#subUnitPost').find('#FullAddress').val(FullAddress)
    }

    function SubUnitDelete(Id) {
        if (confirm('Silmek İstediğinize Emin misiniz ?')) {
            $.ajax({
                type: "POST",
                url: "/Admin/@ViewContext.RouteData.Values["controller"].ToString()/SubUnitDelete",
                data: { 'Id': Id },
                success: function (res) {
                    if (res.status == "success") {
                        document.getElementById("lineSubUnit_" + Id).style.display = "none";
                    } else {
                        alert(res.message);
                    }
                }
            });
        }
    }
</script>