@{
    string addUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Add";
    string listUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "List";
    string deleteUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Delete";
    string detailUrl = "/" + ViewContext.RouteData.Values["area"] + "/" + ViewContext.RouteData.Values["controller"].ToString() + "/" + "Detail";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Localizer["admin.Kayıt Başarılı"]</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Localizer["admin.Kayıt Hatası"]</strong> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section class="pc-container custom-container">
    <div class="pc-content custom-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <!-- HTML Input Types -->
                <div class="card">
                    <div class="card-header custom-page-header">
                        <h5>@Localizer["admin." + ViewContext.RouteData.Values["controller"].ToString()] @Localizer["admin.Yeni Ekle/Düzenle"]</h5>
                        <div class="btn-group" role="group" aria-label="button groups">
                            @if (Model.MenuPermission?.Add)
                            {
                                <button type="button" onclick="GetPage('0','@addUrl');" class="btn btn-light-primary">@Localizer["admin.Yeni Ekle"]</button>
                            }
                            @if (Model.MenuPermission?.List)
                            {
                                <button type="button" onclick="GetPage('0','@listUrl');" class="btn btn-light-primary">@Localizer["admin.Listele"]</button>
                            }
                        </div>
                    </div>
                    <form id="formPost" class="form" action="" method="post" autocomplete="off">
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="Title" class="form-label">@Localizer["admin.Başlık"]</label>
                                    <input class="form-control" type="text" name="Title" id="Title" value="@Model.SectoralReference?.Title" autocomplete="off" required />
                                </div>
                                <div class="mb-3 col-md-2 col-sm-10">
                                    <label for="Image" class="form-label">@Localizer["admin.Görsel"] 250x65px</label>
                                    <input class="form-control" type="file" name="Image" id="Image" />
                                </div>
                                <div class="mb-3 col-md-1 col-sm-2">
                                    @if (Model.SectoralReference?.Media != null)
                                    {
                                        <a href="/Images/SectoralReference/@Model.SectoralReference?.Media" target="_blank">
                                            <img src="/Images/SectoralReference/@Model.SectoralReference?.Media" style="width: 100%" />
                                        </a>
                                        <input class="form-control" type="hidden" name="Media" id="Media" value="@Model.SectoralReference?.Media" />
                                    }
                                </div>
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="Sequence" class="form-label">@Localizer["admin.Sırası"]</label>
                                    <input class="form-control" type="text" name="Sequence" id="Sequence" value="@Model.SectoralReference?.Sequence" autocomplete="off" />
                                </div>
                                <div class="mb-3 col-md-3 col-sm-12">
                                    <label for="Status" class="form-label">@Localizer["admin.Durumu"]</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="Status" id="Status" value="True" @(Model.SectoralReference?.Status == true ? "checked" : "") />
                                        <label class="form-check-label" for="Status">@Localizer["admin.Aktif"]</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-12 col-sm-12">
                                    <label for="UserId" class="form-label">@Localizer["admin.Sektörler"]</label>
                                    <select class="select2 form-control block" name="SectorIdValue" id="SectorIdValue" multiple>
                                        @foreach (var appSector in Model.AppSectors)
                                        {
                                            var isSelected = Model.SelectedSectorIds.Contains(appSector.Id);
                                            if (isSelected)
                                            {
                                                <option value="@appSector.Id" selected>@appSector.SectorLanguageInfos[0].Title</option>
                                            }
                                            else
                                            {
                                                <option value="@appSector.Id">@appSector.SectorLanguageInfos[0].Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <input type="hidden" name="Id" value="@Model.SectoralReference?.Id">
                            <button type="submit" class="btn btn-success me-2">@Localizer["admin.Kayıt"]</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- [ form-element ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<partial name="/Areas/Admin/Views/Shared/_RegScripts.cshtml" />
<script type="text/javascript">
    $(".editorCk").each(function () {
        let editorId = $(this).attr('id');
        CKEDITOR.replace(editorId, { //ckeditor kullanıldığında açılır
            height: '350px',
            extraPlugins: 'forms',
            uiColor: '#CCEAEE'
        });
    });

    $('#formPost').submit(function (e) {
        e.preventDefault(); //submit postu kesyoruz
        var data = new FormData(this);
        $(".editorCk").each(function () {
            let editorId = $(this).attr('id');
            data.set(editorId, CKEDITOR.instances[editorId].getData());//ckeditor kullanılacağı zaman açılır 'ckeditor' yazan kısmı post keyidir
        });
        $('#Pages').html('<img src="/Images/loading.gif" style="position:relative;left:50%;margin-top:10%;width:64px">');
        $.ajax({
            type: "POST",
            url: "@addUrl",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                $('#Pages').html(res);
            },
            error: function (jqXHR, status, errorThrown) {
                alert("Result: " + status + " Status: " + jqXHR.status);
            }
        });
    });
</script>