@model HelperVideoViewModel
@{
    ViewData["Title"] = "Yardımcı Videolar";
}
<!-- Hero -->
<!-- Hero Slider -->
<div class="swiper hero-slider relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- Slide1 -->
        <div class="swiper-slide">
            <div class="hero-slider-item"
                 style="
                            background-image: url('assets/images/slider/slider-1.png');
                        ">
                <div class="hero-slider-item-content">
                    <div class="hero-slider-item-content-box">
                        <div class="hero-slider-item-subtitle">
                            E-Güven
                        </div>
                        <div class="hero-slider-item-title">
                            Yardımcı Videolar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<section class="mt-10 yardimci-videolar">
    <div class="container">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">
            @foreach (HelperVideoLanguageInfo item in Model.HelperVideoLanguageInfos)
            {
                <!-- Single Video -->
                <div class="xl:max-w-md bg-primary-gray rounded-5 shadow-md group shrink-0 w-full h-fit video-item" data-aos="fade-up" data-video-id="@item.HelperVideo.Video.Split("?v=")[1]" data-title="@item.Title" data-modal-target="video-modal" data-modal-toggle="video-modal">
                    <a href="javascript:;" class="relative overflow-hidden block rounded-t-5 h-[175px]">
                        <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear w-full" src="/Images/HelperVideo/@item.HelperVideo.Image" alt="@item.Title" />
                        <div class="absolute inset-0 flex items-center justify-center text-white text-6xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                            <span class="icon-play"></span>
                        </div>
                    </a>
                    <a href="javascript:;" class="p-5 text-center block h-28">
                        <div class="inline-flex flex-col gap-1">
                            <h5 class="tracking-tight text-primary-red text-xs">
                                @item.UpTitle
                            </h5>
                            <p class="text-xl font-bold line-clamp-2 text-primary-dark">
                                @item.Title
                            </p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<div id="video-modal"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white"
                    id="video-modal-title">
                    PIN Kodu Sorgulama
                </h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        id="close-video-modal">
                    <svg class="w-3 h-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <div class="rounded-5 mb-10 hidden"
                     id="main-video-player">
                    <iframe width="100%"
                            height="100%"
                            src="https://www.youtube.com/embed/GuaJ2DuWUrM?si=S66iooYseSa8kCBi"
                            title="YouTube video player"
                            class="rounded-5 md:h-[600px] h-[315px]"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen
                            id="main-video-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import {
        stickyHeader,
        checkTheme,
        heroSlider,
        mobileSubMenu,
        drawerControl,
        videoPlayerShow,
    } from '/assets/js/main.js'
    document.addEventListener('DOMContentLoaded', function () {
        stickyHeader()
        checkTheme()
        heroSlider()
        mobileSubMenu()
        drawerControl()
        videoPlayerShow()
        AOS.init({
            duration: 800,
        })
    })
</script>