@model FormViewModel
@{
    ViewData["Title"] = "E-İmza";
}
@if (Model.ProjectProducts[0].Project.Image != null && Model.ProjectProducts[0].Project.Image != "")
{
    <div class="container mt-5">
        <figure>
            <img src="/Images/Project/@Model.ProjectProducts[0].Project.Image" alt="@Model.Company.Name" class="w-full h-full object-cover rounded-5" />
        </figure>
    </div>

}
<!-- Tabs -->
<section class="forms mt-10 form-tab">
    <div class="container">
        <div class="tab-container">
            <!-- Tab Buttons -->
            <div class="tab-buttons border-b border-tab-inactive xl:text-lg text-sm">
                <button class="tab-button active xl:px-20 px-4 py-2 font-extrabold text-center"
                        data-tab="urun-secimi"
                        id="urun-secimi-tab">
                    @Localizer["Ürün Seçimi"]
                </button>
                <button class="tab-button xl:px-20 px-4 py-2 font-extrabold text-center cursor-not-allowed pointer-events-none"
                        data-tab="musteri-bilgileri"
                        id="musteri-bilgileri-tab">
                    @Localizer["Müşteri Bilgileri"]
                </button>
                <button class="tab-button xl:px-20 px-4 py-2 font-extrabold text-center cursor-not-allowed pointer-events-none"
                        data-tab="dogrulama-ekrani"
                        id="dogrulama-ekrani-tab">
                    @Localizer["Doğrulama Ekranı"]
                </button>
                <button class="tab-button xl:px-20 px-4 py-2 font-extrabold text-center cursor-not-allowed pointer-events-none"
                        data-tab="odeme-bilgileri"
                        id="odeme-bilgileri-tab">
                    @Localizer["Ödeme Bilgileri"]
                </button>
            </div>

            <!-- Tab Content -->
            <div class="tab-content mt-12">
                <form id="kayitForm" class="base-form">
                    <div id="urun-secimi" class="tab-pane active">
                        <div>
                            <div class="text-primary-dark text-sm">
                                <p>
                                    @Html.Raw(Model.ProjectProducts[0].Project.ProjectLanguageInfos[0].Description)
                                </p>
                                @if (Model.ProjectProducts[0].Project.InvoiceInfoIsVisible && Model.CompanyInvoice != null)
                                {
                                    <p>@Localizer["Firma Fatura Bilgileri"]</p>
                                    <p>@Model.CompanyInvoice.Name</p>
                                    <p>@Model.CompanyInvoice.FullAddress</p>
                                }
                            </div>

                            <div class="mt-5">
                                @if (ViewData["slug"] == "" || ViewData["slug"] == null)
                                {
                                    <div class="text-primary-dark font-bold text-xl mb-5">
                                        @Localizer["Kupon / Referans kodu ekle"]
                                    </div>
                                    <div class="flex items-stretch gap-3">
                                        <div class="base-form-group">
                                            <input type="text" name="slug" id="slug" placeholder="Kodunuzu girin" value="@ViewData["slug"]" />
                                        </div>
                                        <button type="button" class="btn btn-common h-auto px-8" onclick="KodSecim()">@Localizer["Uygula"]</button>
                                    </div>
                                }


                                <div class="grid xl:grid-cols-3 grid-cols-1 xl:gap-14 gap-6 mt-10">
                                    <!-- Urunler -->
                                    @foreach (ProjectProduct item in Model.ProjectProducts)
                                    {
                                        <div class="bg-white sr-item-shadow rounded-5 border border-transparent transition-colors duration-150 ease-in group product-item">
                                            <div class="flex flex-col gap-2 items-center justify-center h-full">
                                                <figure class="pt-6">
                                                    <img src="/Images/Product/@item.Product.Image" alt="@item.Product.ProductLanguageInfos[0].Title" />
                                                </figure>
                                                <div class="px-4 text-center">
                                                    <div class="text-xl text-primary-dark font-semibold mb-1">
                                                        @item.Product.ProductLanguageInfos[0].Title
                                                    </div>
                                                    <div class="text-xs text-primary-dark mb-1">
                                                        @item.Product.ProductLanguageInfos[0].Description
                                                    </div>
                                                </div>
                                                <div class="bg-form-product-price h-full rounded-b-5 py-4 text-center text-primary-red w-full transition-colors duration-150 ease-in product-item-price flex flex-col items-center justify-center">
                                                    <div class="text-xl font-bold">
                                                        @item.Amount TL
                                                    </div>
                                                    @if (item.Product.Tax!=0)
                                                    {
                                                        <div class="text-xs">
                                                            @Localizer["KDV Hariç"]
                                                        </div>
                                                    }
                                                </div>
                                                <input class="hidden" type="radio" name="ProjectProductId" id="urun-@item.Id" value="@item.Id" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="flex items-center justify-center mt-12">
                                    <button type="button" disabled class="btn btn-primary-red px-10 disabled:cursor-not-allowed disabled:opacity-50" id="goToMusteriBilgileri">
                                        @Localizer["Devam et"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="musteri-bilgileri" class="tab-pane">
                        <div class="base-form" id="musteri-bilgileri-form">
                            <fieldset class="mt-10">
                                <div class="text-primary-red font-bold text-xl mb-5">
                                    @Localizer["Kişisel Bilgiler"]
                                </div>
                                <div class="grid xl:grid-cols-3 grid-cols-1 gap-5">
                                    @foreach (ProjectField item in Model.ProjectFields.Where(x => x.Field.FieldGroupId == 6))//Kişisel Bilgiler
                                    {
                                        string required = "";
                                        string requiredRenk = "";
                                        if (item.Required)
                                        {
                                            required = "required";
                                            requiredRenk = "custem-req";
                                        }
                                        if (item.Field.Type == "int")
                                        {
                                            if (item.Field.Name == "İl")
                                            {
                                                <div class="base-form-group">
                                                    <label for="@item.Field.ApiColumn">
                                                        @Localizer[item.Field.Name]
                                                        @if (item.Required)
                                                        {
                                                            <sup class="custem-req-sup">*</sup>
                                                        }
                                                    </label>
                                                    <select class="@requiredRenk" name="@item.Field.ApiColumn" id="il" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                        <option value="">@Localizer["Seçiniz"]</option>
                                                        @foreach (City city in Model.Cities.OrderBy(x => x.Name))
                                                        {
                                                            <option value="@city.Name">@city.Name</option>
                                                        }
                                                    </select>
                                                    <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                        @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                    </div>
                                                </div>

                                            }
                                            if (item.Field.Name == "İlçe")
                                            {
                                                <div class="base-form-group">
                                                    <label for="@item.Field.ApiColumn">
                                                        @Localizer[item.Field.Name]
                                                        @if (item.Required)
                                                        {
                                                            <sup class="custem-req-sup">*</sup>
                                                        }
                                                    </label>
                                                    <select class="@requiredRenk" name="@item.Field.ApiColumn" id="ilce" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                        <option value="">@Localizer["Seçiniz"]</option>
                                                    </select>
                                                    <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                        @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                    </div>
                                                </div>
                                            }
                                            if (item.Field.ApiColumn == "Uyruk")
                                            {
                                                <div class="base-form-group">
                                                    <label for="@item.Field.ApiColumn">
                                                        @Localizer[item.Field.Name]
                                                        @if (item.Required)
                                                        {
                                                            <sup class="custem-req-sup">*</sup>
                                                        }
                                                    </label>
                                                    <select class="@requiredRenk" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                        <option value="TC">@Localizer["Türkiye Cumhuriyeti"]</option>
                                                        <option value="DİĞER">@Localizer["Diğer"]</option>
                                                    </select>
                                                    <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                        @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else if (item.Field.Type == "textarea")
                                        {
                                            <div class="base-form-group">
                                                <label for="@item.Field.ApiColumn">
                                                    @Localizer[item.Field.Name]
                                                    @if (item.Required)
                                                    {
                                                        <sup class="custem-req-sup">*</sup>
                                                    }
                                                </label>
                                                <textarea name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" cols="30" rows="5" class="!h-32 @requiredRenk" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)></textarea>
                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                </div>
                                            </div>

                                        }
                                        else if (item.Field.Type == "file")
                                        {
                                            <div class="base-form-group">
                                                <label for="@item.Field.ApiColumn">
                                                    @Localizer[item.Field.Name]
                                                    @if (item.Required)
                                                    {
                                                        <sup class="custem-req-sup">*</sup>
                                                    }
                                                </label>
                                                <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" class="@requiredRenk" data-input-tab="musteri-bilgileri" accept="image/png, image/jpeg" @required @Html.Raw(item.Field.OtherParams) />
                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="base-form-group">
                                                <label for="@item.Field.ApiColumn">
                                                    @Localizer[item.Field.Name]
                                                    @if (item.Required)
                                                    {
                                                        <sup class="custem-req-sup">*</sup>
                                                    }
                                                </label>
                                                <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" data-input-tab="musteri-bilgileri" class="@requiredRenk" @required @Html.Raw(item.Field.OtherParams) />
                                                @if (item.Field.ApiColumn == "Eposta")
                                                {
                                                    <div class="flex items-center justify-end text-xs mt-4">
                                                        <div>
                                                            <label for="e-posta-gorulme">
                                                                @Localizer["E-posta adresimin sertifika içerisinde görülmesini istiyorum"].
                                                            </label>
                                                            <input type="checkbox" class="ml-2" />
                                                        </div>
                                                    </div>
                                                }
                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="rounded-5 bg-form-product-price py-6 px-8 text-primary-dark max-h-[150px] overflow-auto mt-4">
                                    <div class="font-bold mb-4">
                                        @Localizer["ELEKTRONİK BİLGİ GÜVENLİĞİ A.Ş. KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN AYDINLATMA METNİ"]
                                    </div>
                                    <p class="text-sm mb-4">
                                        @Localizer["Aydınlatma Metni, Elektronik Bilgi Güvenliği Anonim Şirketi (“Şirket”) tarafından Şirket’in müşterilerinin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) kapsamında kişisel verilerinin Şirket tarafından işlenmesine ilişkin olarak aydınlatılması amacıyla hazırlanmıştır"].
                                    </p>
                                    <p class="text-sm mb-4">
                                        @Localizer["Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, dolores iure earum dolor fugiat eius voluptatibus perspiciatis dicta a itaque"]
                                    </p>
                                    <p class="text-sm mb-4">
                                        @Localizer["Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cumque quam, soluta, sed perferendis explicabo neque hic exercitationem culpa vitae, rem dolorum inventore eveniet minima ipsa. Quod qui ea mollitia esse, minima autem architecto, debitis facilis eligendi cupiditate ipsam delectus nostrum eveniet possimus doloribus alias dolorum ducimus ratione eius voluptates velit excepturi exercitationem? Atque iure, quasi repellendus doloremque omnis sed accusamus ea, soluta praesentium recusandae tenetur sit, beatae ipsam odit nam cupiditate dolorem facere dolor iste commodi officiis ratione. Natus, dolore quod eveniet esse culpa odio non doloremque porro vitae, debitis fuga voluptate et illum nemo illo rem consectetur possimus!"]
                                    </p>
                                </div>
                                <div class="mt-7" style="text-align: right;">
                                    <input type="checkbox" class="mr-2 custem-req" name="Izin" id="aydinlatma-metni-kabul" value="True" required data-input-tab="musteri-bilgileri" />
                                    <label for="aydinlatma-metni-kabul">@Localizer["Okudum, kabul ediyorum"]. <sup class="custem-req-sup">*</sup></label>
                                    <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                        @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="mt-10">
                                <div class="text-primary-red font-bold text-xl mb-5">
                                    @Localizer["İletişim, Teslimat & Kurulum Adres Bilgileri"]
                                </div>
                                <div class="grid xl:grid-cols-3 grid-cols-1 gap-5">
                                    @foreach (ProjectField item in Model.ProjectFields.Where(x => x.Field.FieldGroupId == 7))//İletişim, Teslimat, Kurulum Adres Bilgileri
                                    {
                                        string required = "";
                                        string requiredRenk = "";
                                        if (item.Required)
                                        {
                                            required = "required";
                                            requiredRenk = "custem-req";
                                        }
                                        if (item.Field.Type == "int")
                                        {
                                            if (item.Field.Name == "İl")
                                            {
                                                <div class="base-form-group">
                                                    <label for="@item.Field.ApiColumn">
                                                        @Localizer[item.Field.Name]
                                                        @if (item.Required)
                                                        {
                                                            <sup class="custem-req-sup">*</sup>
                                                        }
                                                    </label>
                                                    <select class="@requiredRenk" name="@item.Field.ApiColumn" id="il" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                        <option value="">@Localizer["Seçiniz"]</option>
                                                        @foreach (City city in Model.Cities)
                                                        {
                                                            <option value="@city.Name">@city.Name</option>
                                                        }
                                                    </select>
                                                    <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                        @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                    </div>
                                                </div>

                                            }
                                            if (item.Field.Name == "İlçe")
                                            {
                                                <div class="base-form-group">
                                                    <label for="@item.Field.ApiColumn">
                                                        @Localizer[item.Field.Name]
                                                        @if (item.Required)
                                                        {
                                                            <sup class="custem-req-sup">*</sup>
                                                        }
                                                    </label>
                                                    <select class="@requiredRenk" name="@item.Field.ApiColumn" id="ilce" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                        <option value="">@Localizer["Seçiniz"]</option>
                                                    </select>
                                                    <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                        @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else if (item.Field.Type == "textarea")
                                        {
                                            <div class="base-form-group">
                                                <label for="@item.Field.ApiColumn">
                                                    @Localizer[item.Field.Name]
                                                    @if (item.Required)
                                                    {
                                                        <sup class="custem-req-sup">*</sup>
                                                    }
                                                </label>
                                                <textarea name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" cols="30" rows="5" class="!h-32 @requiredRenk" data-input-tab="musteri-bilgileri" @required @Html.Raw(item.Field.OtherParams)></textarea>
                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                </div>
                                            </div>

                                        }
                                        else if (item.Field.Type == "file")
                                        {
                                            <div class="base-form-group">
                                                <label for="@item.Field.ApiColumn">
                                                    @Localizer[item.Field.Name]
                                                    @if (item.Required)
                                                    {
                                                        <sup class="custem-req-sup">*</sup>
                                                    }
                                                </label>
                                                <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" class="@requiredRenk" data-input-tab="musteri-bilgileri" accept="image/png, image/jpeg" @required @Html.Raw(item.Field.OtherParams) />
                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="base-form-group">
                                                <label for="@item.Field.ApiColumn">
                                                    @Localizer[item.Field.Name]
                                                    @if (item.Required)
                                                    {
                                                        <sup class="custem-req-sup">*</sup>
                                                    }
                                                </label>
                                                <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" data-input-tab="musteri-bilgileri" class="@requiredRenk" @required />
                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </fieldset>
                            <input type="hidden" name="kimlikdogrulandi" id="kimlikdogrulandi" />
                            <div class="mt-11 flex items-center justify-end">
                                <button type="button" class="btn btn-primary-red px-8" id="goToDogrulamaEkrani" disabled>
                                    @Localizer["Devam Et"]
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="dogrulama-ekrani" class="tab-pane">
                        <div class="text-center text-xl text-primary-dark font-bold">
                            @Localizer["E-imza için kimlik doğrulama gerekmektedir"].
                            @Localizer["Lütfen kimlik doğrulamanızı Seçiniz"].
                        </div>

                        <div class="base-form">
                            <div class="max-w-lg mx-auto">
                                <div class="grid gap-10 mt-10">
                                    <div class="flex flex-col gap-4 items-center justify-center">
                                        <div class="bg-white rounded-5 sr-item-shadow border border-transparent transition-colors duration-150 ease-in flex items-center flex-col justify-center gap-5 py-8 px-10 cursor-pointer"
                                             id="edevlet-logo">
                                            <figure>
                                                <img src="/assets/images/e-devlet-logo.png" alt="E-Devlet Logo" />
                                            </figure>
                                            <div class="text-primary-dark text-xl font-black">
                                                @Localizer["E-DEVLET"]
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-2">
                                            <input type="radio" name="edevlet" id="edevlet" value="1" checked />
                                            <label for="edevlet" class="text-xl font-bold">@Localizer["Ücretsiz"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-stretch justify-center gap-5 mt-10">
                                    <button type="button" class="btn btn-primary-red px-8" id="goToOdemeBilgileri">@Localizer["Ödemeye devam et"]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="odeme-bilgileri" class="tab-pane">
                        <div class="my-10 text-xl font-bold text-primary-dark">
                            @Localizer["Sipariş Özeti"]
                        </div>
                        <div class="base-form">
                            <div class="grid xl:grid-cols-3 grid-cols-1 gap-16">
                                <div class="xl:col-span-1" id="sepetDiv">
                                </div>
                                <div class="xl:col-span-2">
                                    <!-- fatura form -->
                                    <div>
                                        <!-- Bireysel/Kurumsal Buttons -->
                                        <div class="fatura-tab">
                                            <button id="bireysel-btn" class="active" type="button" @(Model.ProjectFields.Where(x => x.Field.FieldGroupId == 8).Count() == 0 ? Html.Raw("style='display:none'") : "")>
                                                @Localizer["BİREYSEL"]
                                            </button>
                                            <button id="kurumsal-btn" type="button" @(Model.ProjectFields.Where(x => x.Field.FieldGroupId == 9).Count() == 0 ? Html.Raw("style='display:none'") : "")>
                                                @Localizer["KURUMSAL"]
                                            </button>
                                        </div>
                                        <!-- Tab Content -->
                                        <div id="bireysel-tab-content" class="pt-7">
                                            <div class="grid grid-cols-1 gap-3">
                                                @foreach (ProjectField item in Model.ProjectFields.Where(x => x.Field.FieldGroupId == 8))//Şirket Bilgileri
                                                {
                                                    string required = "";
                                                    string requiredRenk = "";
                                                    if (item.Required)
                                                    {
                                                        required = "required";
                                                        requiredRenk = "custem-req";
                                                    }
                                                    if (item.Field.Type == "int")
                                                    {
                                                        if (item.Field.Name == "İl")
                                                        {
                                                            <div class="base-form-group">
                                                                <label for="@item.Field.ApiColumn">
                                                                    @Localizer[item.Field.Name]
                                                                    @if (item.Required)
                                                                    {
                                                                        <sup class="custem-req-sup">*</sup>
                                                                    }
                                                                </label>
                                                                <select class="bireysel-tab-input @requiredRenk" name="@item.Field.ApiColumn" id="il" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                                    <option value="">@Localizer["Seçiniz"]</option>
                                                                    @foreach (City city in Model.Cities)
                                                                    {
                                                                        <option value="@city.Name">@city.Name</option>
                                                                    }
                                                                </select>
                                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                                </div>
                                                            </div>

                                                        }
                                                        if (item.Field.Name == "İlçe")
                                                        {
                                                            <div class="base-form-group">
                                                                <label for="@item.Field.ApiColumn">
                                                                    @Localizer[item.Field.Name]
                                                                    @if (item.Required)
                                                                    {
                                                                        <sup class="custem-req-sup">*</sup>
                                                                    }
                                                                </label>
                                                                <select class="bireysel-tab-input @requiredRenk" name="@item.Field.ApiColumn" id="ilce" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                                    <option value="">@Localizer["Seçiniz"]</option>
                                                                </select>
                                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else if (item.Field.Type == "textarea")
                                                    {
                                                        <div class="base-form-group">
                                                            <label for="@item.Field.ApiColumn">
                                                                @Localizer[item.Field.Name]
                                                                @if (item.Required)
                                                                {
                                                                    <sup class="custem-req-sup">*</sup>
                                                                }
                                                            </label>
                                                            <textarea name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" cols="30" rows="5" class="!h-32 bireysel-tab-input @requiredRenk" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams)></textarea>
                                                            <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                            </div>
                                                        </div>

                                                    }
                                                    else if (item.Field.Type == "file")
                                                    {
                                                        <div class="base-form-group">
                                                            <label for="@item.Field.ApiColumn">
                                                                @Localizer[item.Field.Name]
                                                                @if (item.Required)
                                                                {
                                                                    <sup class="custem-req-sup">*</sup>
                                                                }
                                                            </label>
                                                            <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" class="bireysel-tab-input @requiredRenk" data-input-tab="odeme-bilgileri" accept="image/png, image/jpeg" @required @Html.Raw(item.Field.OtherParams) />
                                                            <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="base-form-group">
                                                            <label for="@item.Field.ApiColumn">
                                                                @Localizer[item.Field.Name]
                                                                @if (item.Required)
                                                                {
                                                                    <sup class="custem-req-sup">*</sup>
                                                                }
                                                            </label>
                                                            <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" class="bireysel-tab-input @requiredRenk" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams) />
                                                            <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div id="kurumsal-tab-content" class="hidden pt-7">
                                            <div class="grid grid-cols-1 gap-3">
                                                @foreach (ProjectField item in Model.ProjectFields.Where(x => x.Field.FieldGroupId == 9))//Fatura Bilgileri
                                                {
                                                    string required = "";
                                                    string requiredRenk = "";
                                                    if (item.Required)
                                                    {
                                                        required = "required";
                                                        requiredRenk = "custem-req";
                                                    }
                                                    if (item.Field.Type == "int")
                                                    {
                                                        if (item.Field.Name == "İl")
                                                        {
                                                            <div class="base-form-group">
                                                                <label for="@item.Field.ApiColumn">
                                                                    @Localizer[item.Field.Name]
                                                                    @if (item.Required)
                                                                    {
                                                                        <sup class="custem-req-sup">*</sup>
                                                                    }
                                                                </label>
                                                                <select class="kurumsal-tab-input @requiredRenk" name="@item.Field.ApiColumn" id="il" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                                    <option value="">@Localizer["Seçiniz"]</option>
                                                                    @foreach (City city in Model.Cities)
                                                                    {
                                                                        <option value="@city.Name">@city.Name</option>
                                                                    }
                                                                </select>
                                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                                </div>
                                                            </div>

                                                        }
                                                        if (item.Field.Name == "İlçe")
                                                        {
                                                            <div class="base-form-group">
                                                                <label for="@item.Field.ApiColumn">
                                                                    @Localizer[item.Field.Name]
                                                                    @if (item.Required)
                                                                    {
                                                                        <sup class="custem-req-sup">*</sup>
                                                                    }
                                                                </label>
                                                                <select class="kurumsal-tab-input @requiredRenk" name="@item.Field.ApiColumn" id="ilce" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams)>
                                                                    <option value="">@Localizer["Seçiniz"]</option>
                                                                </select>
                                                                <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                    @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else if (item.Field.Type == "textarea")
                                                    {
                                                        <div class="base-form-group">
                                                            <label for="@item.Field.ApiColumn">
                                                                @Localizer[item.Field.Name]
                                                                @if (item.Required)
                                                                {
                                                                    <sup class="custem-req-sup">*</sup>
                                                                }
                                                            </label>
                                                            <textarea name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" cols="30" rows="5" class="!h-32 kurumsal-tab-input @requiredRenk" data-input-tab="odeme-bilgileri" @required @Html.Raw(item.Field.OtherParams)></textarea>
                                                            <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                            </div>
                                                        </div>

                                                    }
                                                    else if (item.Field.Type == "file")
                                                    {
                                                        <div class="base-form-group">
                                                            <label for="@item.Field.ApiColumn">
                                                                @Localizer[item.Field.Name]
                                                                @if (item.Required)
                                                                {
                                                                    <sup class="custem-req-sup">*</sup>
                                                                }
                                                            </label>
                                                            <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" class="kurumsal-tab-input @requiredRenk" data-input-tab="odeme-bilgileri" accept="image/png, image/jpeg" @required @Html.Raw(item.Field.OtherParams) />
                                                            <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="base-form-group">
                                                            <label for="@item.Field.ApiColumn">
                                                                @Localizer[item.Field.Name]
                                                                @if (item.Required)
                                                                {
                                                                    <sup class="custem-req-sup">*</sup>
                                                                }
                                                            </label>
                                                            <input type="@item.Field.Type" name="@item.Field.ApiColumn" id="@item.Field.ApiColumn" data-input-tab="odeme-bilgileri" class="kurumsal-tab-input @requiredRenk" @required @Html.Raw(item.Field.OtherParams) />
                                                            <div class="text-xs text-primary-red italic font-semibold error-msg hidden">
                                                                @Localizer["Zorunlu alan lütfen boş bırakmayınız"].
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.ProjectFields[0].Project.PaymetForm)
                                    {
                                        <input class="hidden" type="radio" name="OdemeTipi" id="kredikart" value="1" checked />
                                        <input class="hidden" type="radio" name="OdemeTipi" id="havale" value="2" />
                                        <div class="mt-16">
                                            <!-- Kredi Kartı/Havale Buttons -->
                                            <div class="fatura-tab">
                                                <button id="kredi-kart-btn" class="active" type="button" onclick="OdemeTipSec(1)">@Localizer["KREDİ KARTI"]</button>
                                                <button id="havale-btn" type="button" onclick="OdemeTipSec(2)">@Localizer["HAVALE"]</button>
                                            </div><!-- Tab Content -->
                                            <div id="kredi-kart-tab-content" class="pt-7">   
                                                <div class="grid grid-cols-1 gap-3">
                                                    <div class="base-form-group"><label for="card-ad-soyad">@Localizer["Kartın üzerindeki ad"]</label><input type="text" placeholder="" id="card-ad-soyad" value="" required /></div>
                                                    <div class="base-form-group"><label for="card-no">@Localizer["Kart Numarası"]</label><input type="text" placeholder="0000 0000 0000 0000" id="card-no" value="" required /></div>
                                                </div>
                                                <div class="flex flex-col gap-3 mt-3">
                                                    <label for="exp-date-month">@Localizer["Son Kullanma Tarihi"]</label>
                                                    <div class="grid grid-cols-3 gap-3">
                                                        <div class="base-form-group">
                                                            <select name="exp-date-month" id="exp-date-month" required>
                                                                <option value="" disabled selected>@Localizer["Ay"]</option>
                                                                <option value="01">01</option>
                                                                <option value="02">02</option>
                                                                <option value="03">03</option>
                                                                <option value="04">04</option>
                                                                <option value="05">05</option>
                                                                <option value="06">06</option>
                                                                <option value="07">07</option>
                                                                <option value="08">08</option>
                                                                <option value="09">09</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                        </div>
                                                        <div class="base-form-group">
                                                            <select name="exp-date-year" id="exp-date-year" required>
                                                                <option value="" disabled selected>@Localizer["Yıl"]</option>
                                                                @for (int i = DateTime.Now.Year; i < DateTime.Now.Year + 8; i++)
                                                                {
                                                                    <option value="@i.ToString().Substring(i.ToString().Length - 2)">@i.ToString().Substring(i.ToString().Length - 2)</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="base-form-group">
                                                            <input type="text" name="code" id="code" class="" placeholder="@Localizer["CVV"]" required value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="havale-tab-content" class="hidden pt-7">
                                                <div class="text-primary-dark text-sm">
                                                    <p class="py-4">@Model.ConfigLanguageInfo?.RemittanceEftInformation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="text-align:center;font-size:20px">@Localizer["Proje Koduna Özel Başvuruyu Tamamlayabilrisiniz."]</div>
                                        <input class="hidden" type="radio" name="OdemeTipi" id="yok" value="0" style="display:none!important" checked />
                                        <button id="kredi-kart-btn" class="active" type="button" onclick="OdemeTipSec(1)" style="display:none!important">@Localizer["KREDİ KARTI"]</button>
                                        <button id="havale-btn" type="button" onclick="OdemeTipSec(2)" style="display:none!important">@Localizer["HAVALE"]</button>
                                    }
                                    <input type="hidden" name="uid" id="uid" />
                                    <div style="text-align:center">
                                        <button type="submit" class="btn btn-primary-red px-8 mt-10" id="submitButton">@Localizer["SİPARİŞİ TAMAMLA"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Modal toggle -->
<button data-modal-target="static-modal" data-modal-toggle="static-modal" id="statikModalButton" style="display:none" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button"></button>
<!-- Main modal -->
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600" style="display:none">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">@Localizer["Kapat"]</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4" id="modalDiv">
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600" style="display:none">
                <button data-modal-hide="static-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">@Localizer["Kapat"]</button>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import {
        stickyHeader,
        checkTheme,
        customTab,
        mobileSubMenu,
        drawerControl,
        productItemSelect,
        formTabControl,
        formValidation,
    } from '/assets/js/main.js'
    document.addEventListener('DOMContentLoaded', function () {
        stickyHeader()
        checkTheme()
        customTab()
        mobileSubMenu()
        drawerControl()
        productItemSelect()
        formTabControl()
        formValidation()
        AOS.init({
            duration: 800,
        })
    })
</script>