@model List<ProjectProduct>
@{
    Layout = null;
    decimal toplamFiyat = 0;
    decimal toplamKdv = 0;
}
<!-- sepet urunleri -->
<div class="w-full flex flex-col gap-4">
    @foreach (ProjectProduct item in Model)
    {
        toplamFiyat += item.Amount;
        toplamKdv += item.Amount / 100 * item.Product.Tax;
        <div class="rounded-5 bg-white sr-item-shadow flex items-center justify-between gap-5 product-in-basket-item min-h-[116px]">
            <div class="pl-6">
                <figure class="max-w-28">
                    <img src="/Images/Product/@item.Product.Image" alt="@item.Product.ProductLanguageInfos[0].Title" />
                </figure>
            </div>
            <div class="text-sm text-primary-dark pr-4">
                <div class="font-semibold mb-2">
                    @item.Product.ProductLanguageInfos[0].Title
                </div>
                <div class="font-normal product-total-price">
                    @item.Amount TL
                </div>
            </div>
        </div>
        <input type="hidden" name="UrunList[]" value="@item.Id">
    }
</div>
<!-- sepet toplami -->
<div class="flex flex-col gap-3 mt-8">
    <div class="flex items-center justify-between text-primary-dark text-sm">
        <div>Ürün Fiyatı</div>
        <div>@toplamFiyat.ToString("N2") TL</div>
    </div>
    <div class="flex items-center justify-between text-primary-dark text-sm">
        <div>KDV</div>
        <div>@toplamKdv.ToString("N2") TL</div>
    </div>
    <hr class="border-primary-dark" />
    <div class="flex items-center justify-between text-primary-red text-sm font-bold">
        <div>Toplam Fiyat</div>
        <div>@((toplamFiyat + toplamKdv).ToString("N2")) TL</div>
    </div>
</div>