@{
    var model = (UiLayoutViewModel)Model;
    var emails = model.Config.Mail?.Split(';');
    CultureInfo cultureInfo = Thread.CurrentThread.CurrentUICulture;
    List<Language> languages = model.Languages.Where(x => x.Status).ToList();
    string assetsVersiyon = "1.2";
    string controller = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="@cultureInfo.Name">
<head>
    @*<base href="https://localhost:7138/">*@
    @*@<base href="https://localhost:44340/">*@
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | E-Güven</title>
    <link rel="stylesheet" href="/assets/styles/style.css?v=@assetsVersiyon" />
    <link rel="stylesheet" href="/assets/icons/style.css?v=@assetsVersiyon" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />
</head>
<body class="@(controller == "Form" ? "" : "overflow-x-hidden overflow-y-auto")">
    <!-- top-bar -->
    <div class="bg-white dark:bg-primary-dark py-3 z-40 relative"
         id="top-bar">
        <div class="container">
            <div class="flex items-center justify-between">
                <!-- social-menu -->
                <ul class="flex items-center gap-1.5">
                    @if (model.Config.Youtube != "" && model.Config.Youtube != null)
                    {
                        <li>
                            <a href="@Html.Raw(model.Config.Youtube)" target="_blank"
                           class="flex items-center justify-center rounded-full border border-black dark:border-white p-1 text-black dark:text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                <span class="icon-youtube"></span>
                            </a>
                        </li>
                    }
                    @if (model.Config.Linkedin != "" && model.Config.Linkedin != null)
                    {
                        <li>
                            <a href="@Html.Raw(model.Config.Linkedin)" target="_blank"
                           class="flex items-center justify-center rounded-full border border-black dark:border-white p-1 text-black dark:text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                <span class="icon-linkedin"></span>
                            </a>
                        </li>
                    }
                    @if (model.Config.Instagram != "" && model.Config.Instagram != null)
                    {
                        <li>
                            <a href="@Html.Raw(model.Config.Instagram)" target="_blank"
                           class="flex items-center justify-center rounded-full border border-black dark:border-white p-1 text-black dark:text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                <span class="icon-instagram"></span>
                            </a>
                        </li>
                    }
                    @if (model.Config.Facebook != "" && model.Config.Facebook != null)
                    {
                        <li>
                            <a href="@Html.Raw(model.Config.Facebook)" target="_blank"
                           class="flex items-center justify-center rounded-full border border-black dark:border-white p-1 text-black dark:text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                <span class="icon-facebook"></span>
                            </a>
                        </li>
                    }
                    @if (model.Config.Twitter != "" && model.Config.Twitter != null)
                    {
                        <li>
                            <a href="@Html.Raw(model.Config.Twitter)" target="_blank"
                           class="flex items-center justify-center rounded-full border border-black dark:border-white p-1 text-black dark:text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                <span class="icon-x"></span>
                            </a>
                        </li>
                    }
                </ul>

                <!-- search & language & theme switcher -->
                <div class="flex items-center gap-2">
                    <!-- cmp-search -->
                    <div class="text-primary-dark dark:text-white cursor-pointer"
                         data-modal-target="searchDialog"
                         data-modal-toggle="searchDialog">
                        <span class="icon-search"></span>
                    </div>
                    @if (languages.Count > 1)
                    {
                        <!-- cmp-language -->
                        <button id="languageSelectHeader"
                            data-dropdown-toggle="dropdownLanguageHeaderMenu"
                            class="btn dark:text-white py-1 px-2 shadow-none rounded-full border border-primary-dark dark:border-white text-xs"
                            type="button">
                            <span>@languages.Where(x=>x.Code==cultureInfo.Name).FirstOrDefault().Name</span>
                            <span class="icon-chevron-down"></span>
                        </button>
                    }

                    <!-- Dropdown menu -->
                    <div id="dropdownLanguageHeaderMenu"
                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-md w-24 border border-primary-gray">
                        <ul class="py-2 text-sm text-primary-dark font-semibold"
                            aria-labelledby="languageSelectHeader">
                            @foreach (Language item in languages)
                            {
                                <li>
                                    <a href="/Home/s/SetLang?lng=@item.Code&returnUrl=@Context.Request.Path" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- theme switch -->
                    <div>
                        <button type="button"
                                class="btn btn-theme-switch theme-toggle-btn p-0">
                            <img src="/assets/images/dark-mode.png"
                                 alt="Dark Mode"
                                 class="theme-toggle-dark-icon hidden"
                                 width="57"
                                 height="26" />
                            <img src="/assets/images/light-mode.png"
                                 alt="Light Mode"
                                 class="theme-toggle-light-icon hidden"
                                 width="57"
                                 height="26" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <section class="header sticky w-full z-20 transition duration-300 ease-in-out top-0 @(controller == "Form" ? "detail-header bg-white shadow-md" : "")"
             id="header">
        <div class="w-full">
            <!-- main nav -->
            <!-- main nav top  -->
            <div class="py-6 border-b @(controller == "Form" ? "border-slate-300" : "border-white")">
                <div class="container">
                    <div class="flex flex-col items-start md:items-center md:flex-row justify-between gap-4">
                        <div class="flex items-center gap-6 w-full sm:w-max justify-between sm:justify-normal">
                            <div class="h-10">
                                <a href="/">
                                    <img src="/assets/images/@(controller == "Form" ? "logo-red@2x.png" : "logo@2x.png")" alt="E-Güven" class="w-full h-full @(controller == "Form" ? "detail-header-logo" : "")" />
                                </a>
                            </div>
                            <div class="relative block xl:hidden">
                                <butotn class="btn btn-common"
                                        id="showMobileMenuDrawer">
                                    <span class="icon-menu text-lg"></span>
                                </butotn>
                            </div>

                            <div class="@(controller == "Form" ? "text-primary-red" : "text-white") text-3xl relative mr-3 hidden">
                                <span class="icon-shopping-cart"></span>
                                <div class="text-xs font-bold @(controller == "Form" ? "text-white bg-primary-red" : "text-primary-red bg-white") rounded-full flex items-center justify-center w-5 h-5 absolute -right-2 -top-1.5">
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center gap-2 w-full sm:w-max sm:justify-start justify-between hidden md:block">
                            <div class="@(controller == "Form" ? "text-primary-red text-3xl relative mr-3 basketIcon hidden" : "text-white text-3xl relative mr-3 hidden")" style="display:none">
                                <span class="icon-shopping-cart"></span>
                                <div class="text-xs font-bold @(controller == "Form" ? "text-white bg-primary-red" : "text-primary-red bg-white") rounded-full flex items-center justify-center w-5 h-5 absolute -right-2 -top-1.5">
                                    2
                                </div>
                            </div>
                            @if (model.QuickMenus.Count > 0)
                            {
                                <div class="quick sm:ml-auto ml-0">
                                    <button type="button"
                                        class="btn btn-common"
                                        id="dropdownQuickActions"
                                        data-dropdown-toggle="dropdownQuickActionsMenu">
                                        <span class="icon-menu text-lg"></span>
                                        <span>@Localizer["Hemen Satın Al"]</span>
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdownQuickActionsMenu"
                                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                        aria-labelledby="dropdownDefaultButton">
                                            @foreach (QuickMenu item in model.QuickMenus)
                                            {
                                                <li>
                                                    <a href="@item.Url" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">@item.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <div style="display:none;">
                                <button type="button"
                                        class="btn btn-common text-primary-red">
                                    <span class="icon-user text-lg"></span>
                                    <span>@Localizer["Online İşlemler"]</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main nav bottom  -->
            <nav class="container hidden xl:block">
                <ul class="menu">
                    @foreach (SiteMenu menu in model.SiteMenus)
                    {
                        if (menu.ParentId == 0)
                        {
                            List<SiteMenu> subMenus = model.SiteMenus.Where(x => x.ParentId == menu.Id).ToList();
                            <li class="dropdown dropdown-6">
                                <a href="@menu.Url">@menu.Title</a>
                                @if (subMenus.Any())
                                {
                                    <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-6">
                                        @foreach (var subMenu in subMenus)
                                        {
                                            <li><a href="@subMenu.Url">@subMenu.Title</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </section>

    @RenderBody()

    <!-- Footer -->
    <footer class="bg-primary-dark mt-10 py-12 footer relative h-auto">
        <div class="border-b border-primary-gray">
            <div class="container">
                <div class="flex flex-col md:flex-row xl:gap-20 gap-4 pb-12">
                    <div class="lg:w-1/4 md:w-1/3 w-full">
                        <div class="flex flex-col gap-7">
                            <a href="/">
                                <img src="/assets/images/logo@2x.png"
                                     class="lg:h-12 h-full"
                                     alt="E-Güven Logo" />
                            </a>
                            <div class="text-sm text-white">
                                @Html.Raw(model.Config.Address)
                            </div>
                            <div class="text-sm text-white">
                                <a href="tel:@Html.Raw(model.Config.Phone)">@Html.Raw(model.Config.Phone)</a><br />
                                @if (emails != null && emails.Length > 1)
                                {
                                    <a href="mailto:@emails[1].Trim()" class="hover:text-primary-red transition-colors duration-150 ease-in">
                                        @emails[1].Trim()
                                    </a>
                                }
                            </div>
                            <a href="/sayfa/satis-ofisleri" class="btn btn-primary-red">@Localizer["Satış Ofisleri"]</a>
                        </div>
                    </div>
                    <div class="lg:w-3/4 md:2/3 w-full">
                        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 mb-7 gap-y-4">
                            <a href="javascript:;" style="display:none;"
                               class="btn btn-common xl:w-44">@Localizer["Online İşlemler"]</a>
                            <a href="javascript:;" style="display:none;"
                               class="btn btn-common xl:w-44 text-primary-red">@Localizer["Bayi Girişi"]</a>
                            <a href="Form"
                               class="btn btn-common text-primary-red">@Localizer["Anlaşmalı Kurum Başvurusu"]</a>
                            <div class="flex items-center col-span-2 flex-1">
                                <input id="member_email"
                                       class="bg-white text-primary-dark border-0 text-sm rounded-l-5 block px-4 py-2.5 lg:w-full md:w-[300px] w-full"
                                       name="email_address"
                                       aria-label="Email Address"
                                       placeholder="@Localizer["E-posta adresiniz"]"
                                       required=""
                                       type="email" />
                                <button class="btn btn-primary-red rounded-r-5 rounded-l-none shrink-0 w-[200px]">
                                    @Localizer["Abone Ol"]
                                </button>
                            </div>
                        </div>
                        <div class="grid lg:grid-cols-4 grid-cols-2 gap-y-7">
                            @foreach (var menu in Model.FooterMenus)
                            {
                                if (menu.ParentId == 0)
                                {
                                    <div class="flex flex-col xl:gap-7 gap-4 text-white">
                                        <div class="xl:text-2xl text-lg font-semibold">
                                            @menu.Title
                                        </div>
                                        <ul class="flex flex-col gap-3">
                                            @foreach (var subMenu in Model.FooterMenus)
                                            {
                                                if (subMenu.ParentId == menu.Id)
                                                {
                                                    <li>
                                                        <a href="@subMenu.Url" class="hover:text-primary-red transition-colors duration-150 ease-in">
                                                            @subMenu.Title
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-8 text-white">
            <div class="container">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col sm:flex-row items-center justify-between gap-4">
                        <div class="text-sm">Copyright © 2024 E-Güven</div>
                        <!-- social-menu -->
                        <ul class="flex items-center gap-1.5">
                            @if (model.Config.Youtube != "" && model.Config.Youtube != null)
                            {
                                <li>
                                    <a href="@Html.Raw(model.Config.Youtube)" target="_blank"
                                   class="flex items-center justify-center rounded-full border border-white p-1 text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                        <span class="icon-youtube"></span>
                                    </a>
                                </li>
                            }
                            @if (model.Config.Linkedin != "" && model.Config.Linkedin != null)
                            {
                                <li>
                                    <a href="@Html.Raw(model.Config.Linkedin)" target="_blank"
                                   class="flex items-center justify-center rounded-full border border-white p-1 text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                        <span class="icon-linkedin"></span>
                                    </a>
                                </li>
                            }
                            @if (model.Config.Instagram != "" && model.Config.Instagram != null)
                            {
                                <li>
                                    <a href="@Html.Raw(model.Config.Instagram)" target="_blank"
                                   class="flex items-center justify-center rounded-full border border-white p-1 text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                        <span class="icon-instagram"></span>
                                    </a>
                                </li>
                            }
                            @if (model.Config.Facebook != "" && model.Config.Facebook != null)
                            {
                                <li>
                                    <a href="@Html.Raw(model.Config.Facebook)" target="_blank"
                                   class="flex items-center justify-center rounded-full border border-white p-1 text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </li>
                            }
                            @if (model.Config.Twitter != "" && model.Config.Twitter != null)
                            {
                                <li>
                                    <a href="@Html.Raw(model.Config.Twitter)" target="_blank"
                                   class="flex items-center justify-center rounded-full border border-white p-1 text-white hover:bg-red-600 transition-colors duration-150 ease-in hover:text-white">
                                        <span class="icon-x"></span>
                                    </a>
                                </li>
                            }
                        </ul>
                        <div class="text-sm">
                            @Localizer["Designed by"]
                            <a href="https://www.sisord.com/"
                               class="hover:text-primary-red transition-colors duration-150 ease-in">Sisord Teknoloji</a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <!-- theme-switch -->
                        <div>
                            <button type="button"
                                    class="btn btn-theme-switch theme-toggle-btn">
                                <img src="/assets/images/footer-dark-mode.png"
                                     alt="Dark Mode"
                                     class="theme-toggle-dark-icon hidden"
                                     width="57"
                                     height="26" />
                                <img src="/assets/images/footer-light-mode.png"
                                     alt="Light Mode"
                                     class="theme-toggle-light-icon hidden"
                                     width="57"
                                     height="26" />
                            </button>
                        </div>
                        @if (languages.Count > 1)
                        {
                            <!-- cmp-language -->
                            <button id="dropdownLanguageFooter"
                                data-dropdown-toggle="dropdownLanguageFooterMenu"
                                class="btn shadow-none bg-primary-dark text-white rounded-full border border-white py-1 px-2 text-xs"
                                type="button">
                                <span>@languages.Where(x=>x.Code==cultureInfo.Name).FirstOrDefault().Name</span>
                                <span class="icon-chevron-down"></span>
                            </button>
                        }
                        <!-- Dropdown menu -->
                        <div id="dropdownLanguageFooterMenu"
                             class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-md w-24 border border-primary-gray">
                            <ul class="py-2 text-sm text-primary-dark font-semibold"
                                aria-labelledby="dropdownLanguageFooter">
                                @foreach (Language item in languages)
                                {
                                    <li>
                                        <a href="/Home/s/SetLang?lng=@item.Code&returnUrl=@Context.Request.Path" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Dialogs and Drawers -->
    <!-- drawer component -->
    <div id="mobileMenuDrawer"
         class="fixed top-0 left-0 z-50 h-full p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80"
         tabindex="-1"
         aria-labelledby="drawer-label">
        <div id="drawer-label"
             class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
            <div class="h-10">
                <img src="/assets/images/logo-red@2x.png"
                     alt="E-Güven"
                     class="w-full h-full" />
            </div>
        </div>
        <button type="button"
                data-drawer-hide="mobileMenuDrawer"
                aria-controls="mobileMenuDrawer"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 14 14">
                <path stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">@Localizer["Kapat"]</span>
        </button>

        <nav>
            <ul class="mobile-menu">
                @foreach (SiteMenu menu in model.SiteMenus)
                {
                    if (menu.ParentId == 0)
                    {
                        List<SiteMenu> subMenus = model.SiteMenus.Where(x => x.ParentId == menu.Id).ToList();
                        <li class="menu-item @(subMenus.Any() ? "mobile-dropdown" : "")">
                            <a href="@menu.Url" class="@(subMenus.Any() ? "sub-menu-button" : "")">
                                @if (!string.IsNullOrEmpty(menu.Icon))
                                {
                                    <span class="@menu.Icon"></span>
                                }
                                @menu.Title
                                @if (subMenus.Any())
                                {
                                    <span class="icon-chevron-down ml-auto"></span>
                                }
                            </a>

                            @if (subMenus.Any())
                            {
                                <ul class="sub-menu">
                                    @foreach (var subMenu in subMenus)
                                    {
                                        <li><a href="@subMenu.Url">@subMenu.Title</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                }
            </ul>
        </nav>


        <div class="flex flex-col gap-4 text-primary-dark">
            <div class="text-sm">
                @Html.Raw(model.Config.Address)
            </div>
            <div class="text-sm">
                <a href="tel:@Html.Raw(model.Config.Phone)">@Html.Raw(model.Config.Phone)</a><br />
                @if (emails != null && emails.Length > 1)
                {
                    <a href="mailto:@emails[1].Trim()" class="hover:text-primary-red transition-colors duration-150 ease-in">
                        @emails[1].Trim()
                    </a>
                }
            </div>
            <a href="/sayfa/satis-ofisleri" class="btn btn-primary-red w-full">@Localizer["Satış Ofisleri"]</a>
        </div>
    </div>

    <!-- Search Dialog -->
    <div id="searchDialog"
         data-modal-backdrop="static"
         tabindex="-1"
         aria-hidden="true"
         class="hidden overflow-hidden fixed top-0 right-0 left-0 z-100 w-full md:inset-0 max-h-screen">
        <div class="relative w-full">
            <!-- Modal content -->
            <div class="relative bg-white/90 h-full flex flex-col justify-center items-center">
                <!-- Modal body -->
                <div class="flex flex-col items-center justify-center h-screen sm:-mt-20 mt-0 sm:px-0 px-4 relative">
                    <form class="max-w-lg mx-auto">
                        <div class="mb-5">
                            <label for="email"
                                   class="block mb-2 text-2xl font-bold text-primary-dark">@Localizer["Aratacağınız kelimeyi girin"]</label>
                            <div class="flex items-center gap-4 bg-gray-50 border border-gray-300 text-primary-dark rounded-lg w-full px-4 py-3">
                                <span class="icon-search text-3xl"></span>
                                <input type="text"
                                       id="search"
                                       class="text-4xl font-extrabold outline-none ring-0 focus:ring-transparent focus:border-gray-300 w-full border-0 bg-transparent p-0" />
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-primary-red w-full">
                            @Localizer["Arama"]
                        </button>
                    </form>
                </div>

                <div class="absolute top-4 right-4">
                    <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                            data-modal-hide="searchDialog">
                        <svg class="w-3 h-3"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 14 14">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">@Localizer["Kapat"]</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Floating Whatsapp -->
    <div class="flex items-center justify-center rounded-full w-12 h-12 bg-transparent text-whatsapp fixed left-10 bottom-10 bounce-top">
        <a href="javascript:;">
            <span class="icon-whatsapp text-5xl"></span>
        </a>
    </div>

    <!-- Floating Chat -->
    <div class="flex items-center justify-center rounded-full w-12 h-12 text-white bg-primary-red border border-transparent fixed right-10 bottom-10 hover:bg-white hover:text-primary-red hover:border-primary-red transition-colors duration-150 ease-in bounce-top">
        <a href="javascript:;">
            <span class="icon-message text-4xl"></span>
        </a>
    </div>

    <script src="/assets/js/swiper-bundle.min.js?v=@assetsVersiyon"></script>
    <script src="/assets/js/aos/aos.js?v=@assetsVersiyon"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script>
        function SozlemsmeBilgileri() {
            var metin = document.getElementById("mesafeliSatis").innerHTML;
            var adsoyad = "";
            var tcno = "";
            var eposta = "";
            var telefon = "";
            var adres = "";
            var faturaadres = "";
            var paket = document.getElementById("paketAdi").innerHTML;

            if ($("input[data-id='ad']") != null && $("input[data-id='soyad']") != null) {
                adsoyad = $("input[data-id='ad']").val() + " " + $("input[data-id='soyad']").val();
            }
            if ($("input[data-id='tcno']") != null) {
                tcno = $("input[data-id='tcno']").val();
            }
            if ($("input[data-id='eposta']") != null) {
                eposta = $("input[data-id='eposta']").val();
            }
            if (document.getElementById("CepTelefonu") != null) {
                telefon = document.getElementById("CepTelefonu").value;
            }
            if (telefon == "" && document.getElementById("Telefon") != null) {
                telefon = document.getElementById("Telefon").value;
            }
            if ($("textarea[data-id='adres']") != null) {
                adres = $("textarea[data-id='adres']").val();
            }
            adres = $("textarea[data-id='adres']").val();
            var toplamtutar = document.getElementById("toplamtutar").innerHTML;
            const now = new Date();
            var tarih = `${String(now.getDate()).padStart(2, '0')}.${String(now.getMonth() + 1).padStart(2, '0')}.${now.getFullYear()} ${String(now.getHours()).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}`;
            if ($("textarea[data-id='faturaAdres']") != null) {
                faturaadres = $("textarea[data-id='faturaAdres']").val();
            }
            const degistir = {
                adsoyad: adsoyad,
                tcno: tcno,
                eposta: eposta,
                adres: adres,
                telefon: telefon,
                faturaadres: faturaadres,
                tarih: tarih,
                paket: paket,
                toplamtutar: toplamtutar
            };
            var yeniSozlesme=MetinDegistir(metin, degistir);
            document.getElementById("mesafeliSatis").innerHTML = yeniSozlesme;
            document.getElementById("MesafeliSatis").innerHTML = yeniSozlesme;
        }

        function MetinDegistir(template, replacements) {
            return template.replace(/{{(.*?)}}/g, (match, key) => replacements[key.trim()] || match);
        }

        $("#fatura-bilgileri-ayni").change(function () {
            var secim = document.getElementById("fatura-bilgileri-ayni").checked;
            if (secim) {
                document.getElementById("faturaEkBilgiDiv").style.display = "none";
            } else {
                document.getElementById("faturaEkBilgiDiv").style.display = "grid";
            }
        });

        $("#bireysel-btn").click(function () {
            setTimeout(function () {
                $("input[data-id='ad']").trigger('keyup');
                $("input[data-id='soyad']").trigger('keyup');
                $("input[data-id='tcno']").trigger('keyup');
                $("select[data-id='il']").trigger('change');
                $("select[data-id='ilce']").trigger('change');
                $("textarea[data-id='adres']").trigger('keyup');
            }, 100);
        });

        $("#kurumsal-btn").click(function () {
            setTimeout(function () {
                $("select[data-id='il']").trigger('change');
                $("select[data-id='ilce']").trigger('change');
                $("textarea[data-id='adres']").trigger('keyup');
            }, 100);
        });

        $("input[data-id='ad']").keyup(function () {
            let value = $(this).val();
            $("input[data-id='faturaBireyselAd']").val(value);
        });

        $("input[data-id='soyad']").keyup(function () {
            let value = $(this).val();
            $("input[data-id='faturaBireyselSoyad']").val(value);
        });

        $("input[data-id='tcno']").keyup(function () {
            let value = $(this).val();
            $("input[data-id='faturaBireyselTcNo']").val(value);
        });

        var ilceVal = "";
        $("select[data-id='il']").change(function () {
            let value = $(this).val();
            $("select[data-id='faturaIl']").val(value).trigger('change');
            setTimeout(function () {
                if (ilceVal != null && ilceVal != "") {
                    $("textarea[data-id='ilce']").val(ilceVal).trigger('change');
                }
            }, 500);
        });

        $("select[data-id='ilce']").change(function () {
            if ($(this).val() != null) {
                ilceVal = $(this).val();
            }
            $("select[data-id='faturaIlce']").val(ilceVal).trigger('change');
        });

        $("textarea[data-id='adres']").keyup(function () {
            let value = $(this).val();
            $("textarea[data-id='faturaAdres']").val(value);
        });

        $("#card-no").on("input", function () {
            let value = $(this).val();
            value = value.replace(/\D/g, '');
            if (value.length > 16) {
                value = value.slice(0, 16);
            }
            value = value.replace(/(\d{4})(?=\d)/g, '$1 ');
            $(this).val(value);
        });

        $("input[data-mask='dogumtarihi']").each(function () {
            let today = new Date();
            let maxDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate()); // 18 yıl öncesi
            let formattedMaxDate = maxDate.toISOString().split("T")[0]; // yyyy-mm-dd formatına çevir
            $(this).attr("max", formattedMaxDate); // max attribute'u ayarla
            // Manuel giriş kontrolü
            $(this).on("input change", function () {
                let inputDate = new Date($(this).val());
                if (inputDate > maxDate) {
                    alert("@Localizer["Doğum tarihi 18 yaşından küçük olamaz!"]");
                    $(this).val(""); // Yanlış girilen tarihi temizle
                }
            });
        });

        $("select[data-mask='uyruk']").change(function () {
            let value = $(this).val();
            if (value == "TC") {
                $("input[data-mask='pasaport']").each(function () {
                    let label = $(this).prev("label");
                    if (label.length) {
                        label.text("@Localizer["TCKN"]");
                    }
                });
                $("input[data-mask='tcno']").attr("data-mask", "tcno");
            } else {
                $("input[data-mask='tcno']").each(function () {
                    let label = $(this).prev("label");
                    if (label.length) {
                        label.text("@Localizer["Pasaport No"]");
                    }
                });
                $("input[data-mask='tcno']").attr("data-mask", "pasaport");
            }
        });

        $("input[data-mask='tcno']").keyup(function () {
            let value = $(this).val();
            value = value.replace(/\D/g, '').slice(0, 11);
            $(this).val(value);
        });

        $("input[type=tel]").keyup(function () {
            let input = this.value.replace(/\D/g, ''); // Sadece rakamları al
            if (input.length > 3 && input.length <= 6) {
                this.value = `(${input.substring(0, 3)}) ${input.substring(3)}`;
            } else if (input.length > 6 && input.length <= 10) {
                this.value = `(${input.substring(0, 3)}) ${input.substring(3, 6)} ${input.substring(6, 8)} ${input.substring(8)}`;
            } else if (input.length > 10) {
                this.value = `(${input.substring(0, 3)}) ${input.substring(3, 6)} ${input.substring(6, 8)} ${input.substring(8, 10)}`;
            } else {
                this.value = input;
            }
        });

        document.querySelectorAll('.custem-req').forEach(function (element) {
            element.addEventListener('change', function () {
                this.classList.remove('custem-req');
            });
        });

        function TcDogrulama() {
            IletisimDevamButton();
            return false;//testlerden sonra bu iki satırı kaldır
            var TCKimlikNo = document.getElementById("TCKimlikNo").value;
            var Ad = document.getElementById("Ad").value;
            var Soyad = document.getElementById("Soyad").value;
            var DogumTarihi = document.getElementById("DogumTarihi").value;
            if (TCKimlikNo == "" || Ad == "" || Soyad == "" || DogumTarihi == "") {
                return false;
            }
            DogumTarihi = DogumTarihi.split("-")[0];

            Swal.fire({
                title: "Doğrulanıyor",
                timerProgressBar: true,
                allowOutsideClick: false,
                confirmButtonText: "Tamam",
                didOpen: () => {
                    Swal.showLoading();
                    var data = new FormData();
                    data.append("TCKimlikNo", TCKimlikNo);
                    data.append("Ad", Ad);
                    data.append("Soyad", Soyad);
                    data.append("DogumYili", DogumTarihi);
                    $.ajax({
                        type: "POST",
                        url: "/Form/s/TcDogrulama",
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            Swal.hideLoading();
                            if (res.status == "success") {
                                document.getElementById("kimlikdogrulandi").value = res.data;
                                Swal.update({
                                    title: res.message
                                });
                                CrmTcKontrol();
                            } else {
                                Swal.update({
                                    icon: "warning",
                                    title: res.message
                                });
                            }
                        },
                        error: function (jqXHR, status, errorThrown) {
                            Swal.hideLoading();
                            Swal.update({
                                icon: "warning",
                                title: "Tc Servisi Cevap Vermiyor Tekrar Deneyiniz"
                            });
                            alert("Result: " + status + " Status: " + jqXHR.status);
                        }
                    });
                },
                willClose: () => {
                    Swal.hideLoading()
                }
            }).then((result) => {
                Swal.hideLoading()
            });
        }

        async function CrmTcKontrol() {
            var TCKimlikNo = document.getElementById("TCKimlikNo").value;
            var Tel = "";
            if (document.getElementById("CepTelefonu") != null) {
                Tel = document.getElementById("CepTelefonu").value;
            }
            if (Tel == "" && document.getElementById("Telefon") != null) {
                Tel = document.getElementById("Telefon").value;
            }
            if (TCKimlikNo == "" || Tel == "") {
                return false;
            }
            Swal.fire({
                title: "Crm Doğrulanıyor",
                timerProgressBar: true,
                allowOutsideClick: false,
                confirmButtonText: "Tamam",
                didOpen: async () => { // Burayı async yaptık
                    Swal.showLoading();
                    var data = new FormData();
                    data.append("TCKimlikNo", TCKimlikNo);
                    data.append("Tel", Tel);
                    try {
                        const res = await $.ajax({
                            type: "POST",
                            url: "/Form/s/CrmTcKontrol",
                            data: data,
                            contentType: false,
                            processData: false
                        });
                        Swal.hideLoading();
                        if (res.status == "success") {
                            if (typeof res.data === 'undefined' || res.data == "" || res.data == null) {
                                Swal.close();
                                IletisimDevamButton();
                                console.log("xx");
                            } else {
                                console.log("yy");
                                const { value: kod } = await Swal.fire({
                                    input: "text",
                                    inputLabel: "Sms Doğrulama Kodunu Giriniz",
                                    inputPlaceholder: "Sms Kodu",
                                    confirmButtonText: "Tamam",
                                });
                                if (kod) {
                                    var dataSub = new FormData();
                                    dataSub.append("kod", kod);
                                    const resSub = await $.ajax({
                                        type: "POST",
                                        url: "/Form/s/SmsKodDogrula",
                                        data: dataSub,
                                        contentType: false,
                                        processData: false
                                    });
                                    if (resSub.status == "success") {
                                        Swal.close();
                                        IletisimDevamButton();
                                    } else {
                                        Swal.update({
                                            icon: "warning",
                                            title: res.message
                                        });
                                    }
                                }
                            }
                        } else {
                            Swal.update({
                                icon: "warning",
                                title: res.message
                            });
                        }
                    } catch (error) {
                        Swal.hideLoading();
                        console.log(error);
                        alert("Bir hata oluştu: " + error.status);
                    }
                },
                willClose: () => {
                    Swal.hideLoading();
                }
            }).then((result) => {
                Swal.hideLoading();
            });
        }


        function IletisimDevamButton() {
            var musteriBilgileri = document.getElementById('musteri-bilgileri')

            const musteriBilgileriTab = document.getElementById(
                'musteri-bilgileri-tab'
            )
            const dogrulamaEkrani = document.getElementById('dogrulama-ekrani')
            const dogrulamaEkraniTab = document.getElementById(
                'dogrulama-ekrani-tab'
            )

            /*
            if (formValidation()) {
                goToDogrulamaEkrani.removeAttribute('disabled')
            }
            */

            dogrulamaEkrani.classList.add('active')
            dogrulamaEkraniTab.classList.add('active')
            musteriBilgileri.classList.remove('active')
            musteriBilgileriTab.classList.remove('active')
            musteriBilgileriTab.classList.add(
                'cursor-not-allowed',
                'pointer-events-none'
            )
        }


        function GarantiModal() {
            var e = document.getElementById("exp-date-month");
            var dateMonth = e.value;
            var e = document.getElementById("exp-date-year");
            var dateYear = e.value;
            var data = new FormData();
            data.append("uid", document.getElementById("uid").value);
            data.append("dateMonth", dateMonth);
            data.append("dateYear", dateYear);
            data.append("cardAdSoyad", document.getElementById("card-ad-soyad").value);
            data.append("cardNo", document.getElementById("card-no").value);
            data.append("code", document.getElementById("code").value);
            $.ajax({
                type: "POST",
                url: "/Form/s/GarantiModal",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#modalDiv').html(res);
                    document.getElementById("statikModalButton").click();
                },
                error: function (jqXHR, status, errorThrown) {
                    alert("Result: " + status + " Status: " + jqXHR.status);
                }
            });
        }

        function OdemeTipSec(tip) {
            if (tip == 1) {
                document.getElementById("kredikart").checked = true;
                document.getElementById("havale").checked = false;

                document.getElementById("card-ad-soyad").required = true;
                document.getElementById("card-no").required = true;
                document.getElementById("exp-date-month").required = true;
                document.getElementById("exp-date-year").required = true;
                document.getElementById("code").required = true;
            }
            else if (tip == 2) {
                document.getElementById("kredikart").checked = false;
                document.getElementById("havale").checked = true;

                document.getElementById("card-ad-soyad").required = false;
                document.getElementById("card-no").required = false;
                document.getElementById("exp-date-month").required = false;
                document.getElementById("exp-date-year").required = false;
                document.getElementById("code").required = false;
            }
        }

        $('#kayitForm').submit(function (e) {
            e.preventDefault(); //submit postu kesyoruz
            document.getElementById("submitButton").disabled = true;
            var data = new FormData(this);
            $.ajax({
                type: "POST",
                url: "/Form/s/Kayit",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    console.log(res);
                    if (res.status == "success") {
                        document.getElementById("uid").value = res.data;
                        const selectedValue = document.querySelector('input[name="OdemeTipi"]:checked').value;
                        if (selectedValue == 1) {
                            GarantiModal();
                        } else if (selectedValue == 2 || selectedValue == 0) {
                            Swal.fire({
                                text: res.message,
                                icon: "success",
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Tamam"
                            });
                            window.location.href = "/thanks?slug=" + res.data;
                        }
                    } else {
                        Swal.fire({
                            text: res.message,
                            icon: "warning",
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Tamam"
                        });
                    }
                    document.getElementById("kayitForm").reset();
                    document.getElementById("submitButton").disabled = false;
                },
                error: function (jqXHR, status, errorThrown) {
                    alert("Result: " + status + " Status: " + jqXHR.status);
                }
            });
        });

        function KodSecim() {
            var slug = document.getElementById("slug").value;
            window.location.href = "?slug=" + slug;
        }

        function SepetList(Id) {
            const urunList = [];
            urunList.push(Id);
            var data = new FormData();
            data.append("UrunList", urunList);
            $.ajax({
                type: "POST",
                url: "/Form/s/SepetList",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    //console.log(res);
                    $('#sepetDiv').html(res);
                },
                error: function (jqXHR, status, errorThrown) {
                    alert("Result: " + status + " Status: " + jqXHR.status);
                }
            });
        }

        $('#pinPukForm').submit(function (e) {
            e.preventDefault(); //submit postu kesyoruz
            document.getElementById("submitButton").disabled = true;
            var data = new FormData(this);
            $.ajax({
                type: "POST",
                url: "/Pin/s/Kayit",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    //console.log(res);
                    if (res.status == "success") {
                        Swal.fire({
                            text: res.message,
                            icon: "success",
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Tamam"
                        });
                    } else {
                        Swal.fire({
                            text: res.message,
                            icon: "warning",
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Tamam"
                        });
                    }
                    document.getElementById("pinPukForm").reset();
                    document.getElementById("submitButton").disabled = false;
                },
                error: function (jqXHR, status, errorThrown) {
                    alert("Result: " + status + " Status: " + jqXHR.status);
                }
            });
        });

        $('#contactForm').submit(function (e) {
            e.preventDefault(); //submit postu kesyoruz
            document.getElementById("submitButton").disabled = true;
            var data = new FormData(this);
            $.ajax({
                type: "POST",
                url: "/Contact/s/Kayit",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    //console.log(res);
                    if (res.status == "success") {
                        Swal.fire({
                            text: res.message,
                            icon: "success",
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Tamam"
                        });
                    } else {
                        Swal.fire({
                            text: res.message,
                            icon: "warning",
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Tamam"
                        });
                    }
                    document.getElementById("contactForm").reset();
                    document.getElementById("submitButton").disabled = false;
                },
                error: function (jqXHR, status, errorThrown) {
                    alert("Result: " + status + " Status: " + jqXHR.status);
                }
            });
        });

        $('#il').change(function () {
            var il = $('#il').val();
            if (il == "") {
                return false;
            }
            $('#ilce').empty();
            $("input[data-id='faturaIlce']").empty();
            $.ajax({
                type: "POST",
                url: "/Form/s/IlIlce",
                data: {
                    'il': il
                },
                success: function (data) {
                    $('#ilce').append(data);
                    $("select[data-id='faturaIlce']").append(data);
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
