@model List<SiteMenu>

@{
    Layout = null;
    List<SiteMenu> menuler = Model;
}

<div class="cf nestable-lists">
    <div class="dd" id="nestable-1">
        <ol class="dd-list">
            @foreach (SiteMenu item in menuler)
            {
                List<SiteMenu> altMenuler = menuler.Where(x => x.ParentId == item.Id).ToList();
                if (item.ParentId != 0)
                {
                    continue;
                }
                <li class="dd-item dd3-item" data-id="@item.Id" id="menuSatir-@item.Id">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">(@item.Language.Name) - @item.Title (@item.Url)</div>
                    <button type="button" onclick="GetPage('0','Admin/SiteMenu/Add','@item.Id');" class="btn btn-warning net-button" style="margin-top: -2.3rem;margin-right: 4.5rem;">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" onclick="menuSil('@item.Id')" class="btn btn-danger net-button" style="margin-top: -2.3rem;margin-right: 2rem;">
                        <i class="fa fa-trash"></i>
                    </button>
                    @if (altMenuler.Count > 0)
                    {
                        <ol class="dd-list">
                            @foreach (SiteMenu itemAlt in altMenuler)
                            {
                                List<SiteMenu> altAltMenuler = menuler.Where(x => x.ParentId == itemAlt.Id).ToList();
                                <li class="dd-item dd3-item" data-id="@itemAlt.Id" id="menuSatir-@itemAlt.Id">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content">(@itemAlt.Language.Name) - @itemAlt.Title (@itemAlt.Url)</div>
                                    <button type="button" onclick="GetPage('0','Admin/SiteMenu/Add','@itemAlt.Id');" class="btn btn-warning net-button" style="margin-top: -2.3rem;margin-right: 4.5rem;">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" onclick="menuSil('@itemAlt.Id')" class="btn btn-danger net-button" style="margin-top: -2.3rem;margin-right: 2rem;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    @if (altAltMenuler.Count > 0)
                                    {
                                        <ol class="dd-list">
                                            @foreach (SiteMenu itemAltAlt in altAltMenuler)
                                            {
                                                <li class="dd-item dd3-item" data-id="@itemAltAlt.Id" id="menuSatir-@itemAltAlt.Id">
                                                    <div class="dd-handle dd3-handle"></div>
                                                    <div class="dd3-content">(@itemAltAlt.Language.Name) - @itemAltAlt.Title (@itemAltAlt.Url)</div>
                                                    <button type="button" onclick="GetPage('0','Admin/SiteMenu/Add','@itemAltAlt.Id');" class="btn btn-warning net-button" style="margin-top: -2.3rem;margin-right: 4.5rem;">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" onclick="menuSil('@itemAltAlt.Id')" class="btn btn-danger net-button" style="margin-top: -2.3rem;margin-right: 2rem;">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </li>
                                            }
                                        </ol>
                                    }
                                </li>
                            }
                        </ol>
                    }
                </li>
            }
        </ol>
    </div>
</div>

<div class="col-md-12" style="text-align: center;padding: 1rem;">
    <button type="button" class="btn btn-success" onclick="menuLayoutAdd(@ViewBag.type)">
        <i class="la la-floppy-o"></i>  @Localizer["admin.Menü Düzenini Kaydet"]
    </button>
</div>
