@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Slider -->
<div class="swiper hero-slider relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @foreach (Slider item in Model.Sliders)
        {
            <!-- Slide1 -->
            <div class="swiper-slide">
                <div class="hero-slider-item" style="background-image: url('/Images/Slider/@item.Media');">
                    <div class="hero-slider-item-content">
                        <div class="hero-slider-item-content-box">
                            <div class="hero-slider-item-subtitle">
                                @item.Title
                            </div>
                            <div class="hero-slider-item-title">
                                @item.SubTitle
                            </div>
                            @if (item.Common != "" && item.Common != null)
                            {
                                <a href="@item.Url" class="btn btn-common">
                                    @item.Common
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- Prev Video -->
    <div class="flex items-center justify-between text-xl text-primary-gray hero-slider-prev absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 left-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
        <span class="icon-chevron-left"></span>
    </div>

    <!-- Next Video -->
    <div class="flex items-center justify-between text-2xl text-primary-gray hero-slider-next absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 right-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
        <span class="icon-chevron-right"></span>
    </div>
</div>

<!-- Duyurular -->
<section class="news" data-aos="fade-up">
    <div class="container">
        <div class="flex items-center gap-4 py-3 border-b border-primary-gray">
            <div class="text-primary-red font-bold text-sm">
                Duyurular
            </div>
            <div class="news-slider">
                <div class="news-slider-wrapper">
                    @foreach (AnnouncementLanguageInfo item in Model.Announcements)
                    {
                        <div class="news-slider-slide">
                            <a href="javascript:;"
                           class="text-primary-dark dark:text-white text-sm flex items-center gap-1 h-full w-full">
                                <div class="line-clamp-1">
                                    @item.Description
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Ürünler -->
<section class="products mt-10" data-aos="fade-up">
    <div class="container">
        <div class="flex flex-col gap-6">
            <div class="text-primary-dark dark:text-white text-3xl font-bold text-center">
                Ürünlerimiz
            </div>

            <div class="grid lg:grid-cols-3 md:grid-cols-4 grid-cols-1 gap-4">
                <div class="rounded-5 lg:col-span-1 md:col-span-2">
                    <a href="urun-eimza.html"
                       class="group block relative rounded-5 transition duration-300 ease-in bg-gradient-to-bl from-primary-red-from to-primary-red-to overflow-hidden card-shadow">
                        <div class="card">
                            <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative text-white group-hover:text-primary-red overflow-hidden">
                                <div class="text-6xl">
                                    <span class="icon-e-imza"></span>
                                </div>
                                <div class="font-semibold">E-imza</div>
                                <div class="line-clamp-4 text-sm">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="lg:col-span-1 md:col-span-2">
                    <a href="urun-eimza.html"
                       class="group block relative rounded-5 transition duration-300 ease-in bg-gradient-to-bl from-primary-gray-from to-primary-gray-to card-shadow">
                        <div class="card">
                            <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative text-white group-hover:text-primary-dark overflow-hidden">
                                <div class="text-6xl">
                                    <span class="icon-e-imza"></span>
                                </div>
                                <div class="font-semibold">E-Mühür</div>
                                <div class="line-clamp-4 text-sm">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-4 lg:col-span-1 md:col-span-4">
                    <div>
                        <a href="urun-eimza.html"
                           class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                            <div class="card card-small">
                                <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                    <div class="text-4xl text-primary-red group-hover:text-white">
                                        <span class="icon-paperzero"></span>
                                    </div>
                                    <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                        Paperzero
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="urun-eimza.html"
                           class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                            <div class="card card-small">
                                <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                    <div class="text-4xl text-primary-red group-hover:text-white">
                                        <span class="icon-hsm"></span>
                                    </div>
                                    <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                        HSM Çözümleri
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="urun-eimza.html"
                           class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                            <div class="card card-small">
                                <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                    <div class="text-4xl text-primary-red group-hover:text-white">
                                        <span class="icon-zaman_damgasi"></span>
                                    </div>
                                    <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                        Zaman Damgası
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="urun-eimza.html"
                           class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                            <div class="card card-small">
                                <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                    <div class="text-4xl text-primary-red group-hover:text-white">
                                        <span class="icon-yazilim_kutuphanesi"></span>
                                    </div>
                                    <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                        Yazılım Kütüphanesi
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <a href="urunler.html"
               class="btn mx-auto mt-3 btn-common"
               data-aos="fade-up">Tümüne göz at</a>
        </div>
    </div>
</section>

<!-- Nasıl? -->
<section class="how-to mt-10" data-aos="fade-up">
    <div class="container">
        <div class="tab-container">
            <!-- Tab Buttons -->
            <div class="tab-buttons">
                <button class="tab-button active py-4 md:px-20 px-2 md:text-2xl text-sm font-extrabold text-center"
                        data-tab="e-imza">
                    Nasıl E-imza alınır?
                </button>
                <button class="tab-button py-4 md:px-20 px-2 md:text-2xl text-sm font-extrabold text-center"
                        data-tab="e-muhur">
                    Nasıl E-mühür alınır?
                </button>
            </div>

            <!-- Tab Content -->
            <div class="tab-content">
                <div id="e-imza"
                     class="tab-pane active bg-primary-gray rounded-5 shadow-md md:py-16 md:px-10 py-10 px-4 overflow-hidden">
                    <div class="grid md:grid-cols-2 md:grid-rows-2 grid-cols-1 md:gap-7 gap-4 xl:px-20 px-0">
                        <div class="flex gap-4" data-aos="fade-up">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                1
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    Birinci Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4 md:col-start-1 md:row-start-2"
                             data-aos="fade-up"
                             data-aos-delay="100">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                2
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    İkinci Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4 md:col-start-2 md:row-start-1"
                             data-aos="fade-up"
                             data-aos-delay="200">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                3
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    Üçüncü Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4"
                             data-aos="fade-up"
                             data-aos-delay="300">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                4
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    Dördüncü Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="e-muhur"
                     class="tab-pane bg-primary-gray rounded-5 shadow-md md:py-16 md:px-10 py-4 px-4 overflow-hidden">
                    <div class="grid md:grid-cols-2 md:grid-rows-2 grid-cols-1 md:gap-7 gap-4 xl:px-20 px-0">
                        <div class="flex gap-4" data-aos="fade-up">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                1
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    Birinci Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4 md:col-start-1 md:row-start-2"
                             data-aos="fade-up"
                             data-aos-delay="100">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                2
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    İkinci Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4 md:col-start-2 md:row-start-1"
                             data-aos="fade-up"
                             data-aos-delay="200">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                3
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    Üçüncü Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4"
                             data-aos="fade-up"
                             data-aos-delay="300">
                            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                4
                            </div>
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-dark text-2xl font-semibold">
                                    Dördüncü Adım
                                </div>
                                <div class="text-primary-dark text-base">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Ut elit
                                    tellus, luctus nec ullamcorper
                                    mattis, pulvinar dapibus leo. Lorem
                                    ipsum dolor sit amet. Lorem ipsum
                                    dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Yardımcı Videolar -->
<section class="helper-videos mt-20">
    <div class="container">
        <div class="flex xl:flex-row flex-col gap-5">
            <!-- Single Video -->
            <div class="xl:max-w-sm bg-primary-gray rounded-5 shadow-md group h-full shrink-0 xl:w-1/3 w-full"
                 data-aos="fade-up">
                <a href="javascript:;"
                   class="relative overflow-hidden block rounded-t-5">
                    <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear"
                         src="assets/images/video/video1.png"
                         alt="Video Name" />
                    <div class="absolute inset-0 flex items-center justify-center text-white text-6xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                        <span class="icon-play"></span>
                    </div>
                </a>
                <a href="javascript:;"
                   class="p-5 text-center text-primary-dark block">
                    <div class="inline-flex flex-col gap-1">
                        <h5 class="tracking-tight">Hakkımızda</h5>
                        <p class="text-2xl font-bold line-clamp-1">
                            E-Güven
                        </p>
                    </div>
                </a>
            </div>
            <div class="flex flex-col w-full relative mt-6 md:mt-0"
                 data-aos="fade-up"
                 data-aos-delay="100">
                <div class="flex items-center justify-between mb-10">
                    <div class="text-primary-dark dark:text-white md:text-3xl text-xl font-bold">
                        Yardımcı Videolar
                    </div>
                    <a href="javascript:;" class="btn mr-1 btn-common">Tümüne göz at</a>
                </div>
                <!-- Video Slider -->
                <div class="swiper video-slider">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper min-w-0">
                        <!-- Slides -->
                        <!-- Slide1 -->
                        <div class="swiper-slide">
                            <div class="max-w-xs bg-primary-gray rounded-5 shadow-md group">
                                <a href="javascript:;"
                                   class="relative overflow-hidden block max-h-44 min-h-44 rounded-t-5">
                                    <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear"
                                         src="assets/images/video/video2.png"
                                         alt="Video Name" />
                                    <div class="absolute inset-0 flex items-center justify-center text-white text-3xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                                        <span class="icon-play"></span>
                                    </div>
                                </a>
                                <a href="javascript:;"
                                   class="p-5 text-center text-primary-dark block">
                                    <div class="inline-flex flex-col gap-1">
                                        <h5 class="tracking-tight">
                                            E-İmza
                                        </h5>
                                        <p class="text-2xl font-bold line-clamp-1">
                                            E-İmza Nedir?
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Slide2 -->
                        <div class="swiper-slide">
                            <div class="max-w-xs bg-primary-gray rounded-5 shadow-md group">
                                <a href="javascript:;"
                                   class="relative overflow-hidden block max-h-44 min-h-44 rounded-t-5">
                                    <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear"
                                         src="assets/images/video/video3.png"
                                         alt="Video Name" />
                                    <div class="absolute inset-0 flex items-center justify-center text-white text-3xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                                        <span class="icon-play"></span>
                                    </div>
                                </a>
                                <a href="javascript:;"
                                   class="p-5 text-center text-primary-dark block">
                                    <div class="inline-flex flex-col gap-1">
                                        <h5 class="tracking-tight">
                                            E-İmza
                                        </h5>
                                        <p class="text-2xl font-bold line-clamp-1">
                                            E-İmza Yenileme
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Slide3 -->
                        <div class="swiper-slide">
                            <div class="max-w-xs bg-primary-gray rounded-5 shadow-md group">
                                <a href="javascript:;"
                                   class="relative overflow-hidden block max-h-44 min-h-44 rounded-t-5">
                                    <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear"
                                         src="assets/images/video/video4.png"
                                         alt="Video Name" />
                                    <div class="absolute inset-0 flex items-center justify-center text-white text-3xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                                        <span class="icon-play"></span>
                                    </div>
                                </a>
                                <a href="javascript:;"
                                   class="p-5 text-center text-primary-dark block">
                                    <div class="inline-flex flex-col gap-1">
                                        <h5 class="tracking-tight">
                                            E-İmza
                                        </h5>
                                        <p class="text-2xl font-bold line-clamp-1">
                                            Paperzero
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Slide4 -->
                        <div class="swiper-slide">
                            <div class="max-w-xs bg-primary-gray rounded-5 shadow-md group">
                                <a href="javascript:;"
                                   class="relative overflow-hidden block max-h-44 min-h-44 rounded-t-5">
                                    <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear"
                                         src="assets/images/video/video2.png"
                                         alt="Video Name" />
                                    <div class="absolute inset-0 flex items-center justify-center text-white text-3xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                                        <span class="icon-play"></span>
                                    </div>
                                </a>
                                <div class="p-5 text-center text-primary-dark">
                                    <a href="javascript:;"
                                       class="inline-flex flex-col gap-1">
                                        <h5 class="tracking-tight">
                                            Lorem, ipsum dolor.
                                        </h5>
                                        <p class="text-2xl font-bold line-clamp-1">
                                            Lorem ipsum dolor, sit amet
                                            consectetur adipisicing
                                            elit.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Prev Video -->
                <div class="flex items-center justify-between text-xl text-primary-gray video-slider-prev absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 -left-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
                    <span class="icon-chevron-left"></span>
                </div>

                <!-- Next Video -->
                <div class="flex items-center justify-between text-2xl text-primary-gray video-slider-next absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 -right-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
                    <span class="icon-chevron-right"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- İletişime Geçin -->
<section class="cta-contact-us mt-10" data-aos="fade-up">
    <div class="animated-background bg-gradient-to-r from-primary-red via-red-800 to-red-900">
        <div class="container">
            <div class="flex flex-col md:flex-row md:items-center justify-between gap-4 py-20 md:px-32 px-0">
                <div class="flex flex-col gap-2 lg:max-w-2xl md:max-w-xl text-white">
                    <div class="text-base">
                        İlk adımı atmak için bizimle iletişime geçin
                    </div>
                    <div class="text-4xl font-bold">
                        Dijital dönüşüm yolculuğunuzun her aşamasında
                        yanınızdayız
                    </div>
                </div>
                <a href="javascript:;" class="btn btn-common">İletişime geçin</a>
            </div>
        </div>
    </div>
</section>

<!-- Bize Güvenen Markalar -->
<section class="trusted-brands mt-10" data-aos="fade-up">
    <div class="container">
        <div class="flex flex-col gap-6 pb-10 border-b border-primary-gray">
            <div class="text-primary-dark dark:text-white md:mb-10 mb-4 text-3xl font-bold text-center">
                Bize Güvenen Markalar
            </div>

            <div class="swiper brand-slider w-full sm:px-20 px-5">
                <div class="swiper-wrapper">
                    @foreach (Brand item in Model.Brands)
                    {
                        <div class="swiper-slide">
                            <div class="flex items-center justify-center">
                                <img src="/Images/Brand/@item.Media" alt="@item.Title" />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Prev Video -->
            <div class="flex items-center justify-between text-xl text-primary-gray brand-slider-prev absolute top-24 2xl:left-14 xl:left-5 left-10 rounded-5 p-2 bg-primary-red/50 w-10 h-10 xl:z-10 z-60 hover:bg-primary-red transition-colors duration-150 ease-linear">
                <span class="icon-chevron-left"></span>
            </div>

            <!-- Next Video -->
            <div class="flex items-center justify-between text-2xl text-primary-gray brand-slider-next absolute top-24 2xl:right-14 xl:right-5 right-10 rounded-5 p-2 bg-primary-red/50 w-10 h-10 xl:z-10 z-60 hover:bg-primary-red transition-colors duration-150 ease-linear">
                <span class="icon-chevron-right"></span>
            </div>

            <a href="bize-guvenen-markalar.html"
               class="btn mx-auto mt-3 btn-common">Tümüne göz at</a>
        </div>
    </div>
</section>

<!-- Blog -->
<section class="blog mt-10">
    <div class="container">
        <div class="flex flex-col gap-6">
            <div class="text-primary-dark dark:text-white md:mb-10 mb-4 text-center"
                 data-aos="fade-up">
                <div class="text-3xl font-bold">Blog</div>
                <div class="text-sm">
                    Türkiye'nin e-imza blogu E-Güven’den sektörden ve
                    bizden haberler
                </div>
            </div>

            <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
                @foreach (BlogLanguageInfo item in Model.BlogLanguageInfos)
                {
                    <div class="relative rounded-5 overflow-hidden h-56" data-aos="fade-up">
                        <a href="/blog/@item.Slug" class="block group rounded-5 overflow-hidden">
                            <img src="/Images/Blog/@item.Blog.Image" alt="@item.Title" class="w-full h-full rounded-5 group-hover:scale-150 transition-all duration-150 ease-in object-cover" />
                            <div class="absolute inset-0 bg-primary-dark/50"></div>
                            <div class="absolute bottom-0 left-0 right-0 p-5">
                                <a href="/blog/@item.Slug" class="text-white">
                                    <span class="text-lg font-bold block">@item.Title</span>
                                    <span class="text-xs">@item.Blog.CreatedDate.ToString("dd MMMM yyyy")</span>
                                </a>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <a href="blog-list.html"
               class="btn mx-auto mt-3 btn-common"
               data-aos="fade-up">Tümüne göz at</a>
        </div>
    </div>
</section>
