@using System.Linq
@{
    ViewData["Title"] = "Anasayfa";
    int index = 0;
    int sayac = 1;
    List<HomeProductLanguageInfo> homeProductLanguageInfos = Model.HomeProductLanguageInfos;
}

<!-- Hero Slider -->
<div class="swiper hero-slider relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @foreach (Slider item in Model.Sliders)
        {
            <!-- Slide1 -->
            <div class="swiper-slide">
                <div class="hero-slider-item" style="background-image: url('/Images/Slider/@item.Media');">
                    <div class="hero-slider-item-content">
                        <div class="hero-slider-item-content-box">
                            <div class="hero-slider-item-subtitle">
                                @item.Title
                            </div>
                            <div class="hero-slider-item-title">
                                @item.SubTitle
                            </div>
                            @if (item.Common != "" && item.Common != null)
                            {
                                <a href="@item.Url" class="btn btn-common">
                                    @item.Common
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- Prev Video -->
    <div class="flex items-center justify-between text-xl text-primary-gray hero-slider-prev absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 left-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
        <span class="icon-chevron-left"></span>
    </div>

    <!-- Next Video -->
    <div class="flex items-center justify-between text-2xl text-primary-gray hero-slider-next absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 right-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
        <span class="icon-chevron-right"></span>
    </div>
</div>

<!-- Duyurular -->
<section class="news" data-aos="fade-up">
    <div class="container">
        <div class="flex items-center gap-4 py-3 border-b border-primary-gray">
            <div class="text-primary-red font-bold text-sm">
                Duyurular
            </div>
            <div class="news-slider">
                <div class="news-slider-wrapper">
                    @foreach (AnnouncementLanguageInfo item in Model.Announcements)
                    {
                        <div class="news-slider-slide">
                            <a href="javascript:;"
                           class="text-primary-dark dark:text-white text-sm flex items-center gap-1 h-full w-full">
                                <div class="line-clamp-1">
                                    @item.Description
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Ürünler -->
<section class="products mt-10" data-aos="fade-up">
    <div class="container">
        <div class="flex flex-col gap-6">
            <div class="text-primary-dark dark:text-white text-3xl font-bold text-center">
                Ürünlerimiz
            </div>

            <div class="grid lg:grid-cols-3 md:grid-cols-4 grid-cols-1 gap-4">
                @if (Model.Config.HomeProductSequenceId == 1)
                {

                    foreach (HomeProductLanguageInfo item in homeProductLanguageInfos.Take(12))
                    {
                        @if (index % 4 == 0)
                        {
                            @Html.Raw("<div class='grid grid-cols-2 gap-4 lg:col-span-1 md:col-span-4'>")
                        }
                            <div>
                                <a href="#"
                                   class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                                    <div class="card card-small">
                                        <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                            <div class="text-4xl text-primary-red group-hover:text-white">
                                                <span class="@item.HomeProduct.Image"></span>
                                            </div>
                                            <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                                @item.Title
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        @if (index % 4 == 3)
                        {
                            @Html.Raw("</div>")
                        }
                        index++;
                    }
                }

                @if (Model.Config.HomeProductSequenceId == 2)
                {
                    foreach (HomeProductLanguageInfo item in homeProductLanguageInfos.Take(6))
                    {
                        index++;
                        if (index < 3)
                        {
                            <div class="rounded-5 lg:col-span-1 md:col-span-2">
                                <a href="#" class="group h-full block relative rounded-5 transition duration-300 ease-in bg-gradient-to-bl
                            @(index == 1 ? "from-primary-red-from to-primary-red-to" : "from-primary-gray-from to-primary-gray-to")
                            overflow-hidden card-shadow">
                                    <div class="card">
                                        <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative text-white group-hover:text-primary-red overflow-hidden">
                                            <div class="text-6xl">
                                                <span class="@item.HomeProduct.Image"></span>
                                            </div>
                                            <div class="font-semibold">@item.Title</div>
                                            <div class="line-clamp-4 text-sm">
                                                @item.Description
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        else if (index == 3)
                        {
                            <div class="grid grid-cols-2 gap-4 lg:col-span-1 md:col-span-4">
                                @for (int i = 2; i < 6; i++)
                                {
                                    var homeProduct = Model.HomeProductLanguageInfos[i];
                                    if (homeProduct != null)
                                    {
                                        <div>
                                            <a href="#"
                                                class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                                                <div class="card card-small">
                                                    <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                                        <div class="text-4xl text-primary-red group-hover:text-white">
                                                            <span class="@homeProduct.HomeProduct.Image"></span>
                                                        </div>
                                                        <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                                            @homeProduct.Title
                                                        </div>
                                                        <div class="line-clamp-4 text-sm">
                                                            @homeProduct.Description
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                }

                @if (Model.Config.HomeProductSequenceId == 3)
                {
                    foreach (HomeProductLanguageInfo item in homeProductLanguageInfos.Take(9))
                    {
                        if (index < 1)
                        {
                            <div class="rounded-5 lg:col-span-1 md:col-span-2">
                                <a href="#" class="group h-full block relative rounded-5 transition duration-300 ease-in bg-gradient-to-bl
                            @(index == 0 ? "from-primary-red-from to-primary-red-to" : "from-primary-gray-from to-primary-gray-to")
                            overflow-hidden card-shadow">
                                    <div class="card">
                                        <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative text-white group-hover:text-primary-red overflow-hidden">
                                            <div class="text-6xl">
                                                <span class="@item.HomeProduct.Image"></span>
                                            </div>
                                            <div class="font-semibold">@item.Title</div>
                                            <div class="line-clamp-4 text-sm">
                                                @item.Description
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        else if (index == 1)
                        {
                            for (int i = 1; i < 6; i++)
                            {
                                var homeProduct = Model.HomeProductLanguageInfos[i];
                                if (homeProduct != null)
                                {
                                    @if (i % 4 == 1)
                                    {
                                        @Html.Raw("<div class='grid grid-cols-2 gap-4 lg:col-span-1 md:col-span-4'>")
                                    }
                                    <div>
                                        <a href="#"
                                            class="group block relative rounded-5 transition duration-300 ease-in bg-primary-gray shadow-md overflow-hidden">
                                            <div class="card card-small">
                                                <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative overflow-hidden">
                                                    <div class="text-4xl text-primary-red group-hover:text-white">
                                                        <span class="@homeProduct.HomeProduct.Image"></span>
                                                    </div>
                                                    <div class="font-semibold text-primary-dark group-hover:text-white text-sm">
                                                        @homeProduct.Title
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    @if (i % 4 == 0)
                                    {
                                        @Html.Raw("</div>")
                                    }
                                }
                            }
                        }
                        index++;
                    }
                }

                @if (Model.Config.HomeProductSequenceId == 4)
                {
                    foreach (HomeProductLanguageInfo item in homeProductLanguageInfos.Take(3))
                    {
                        if(index < 3)
                        {
                            <div class="@(index == 0 ? "rounded-5 lg:col-span-1 md:col-span-2" : "lg:col-span-1 md:col-span-2")">
                               
                                <a href="#" class="group h-full block relative rounded-5 transition duration-300 ease-in bg-gradient-to-bl
                                @(index % 2 == 0 ? "from-primary-red-from to-primary-red-to" : "from-primary-gray-from to-primary-gray-to")
                                overflow-hidden card-shadow">
                                    <div class="card">
                                        <div class="flex flex-col items-center justify-center gap-4 h-full rounded-5 py-7 px-6 text-center transition duration-300 ease-in relative text-white group-hover:text-primary-red overflow-hidden">
                                            <div class="text-6xl">
                                                <span class="@item.HomeProduct.Image"></span>
                                            </div>
                                            <div class="font-semibold">@item.Title</div>
                                            <div class="line-clamp-4 text-sm">
                                                @item.Description
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            index++;
                        }
                    }
                }
            </div>

            <a href="urunler" class="btn mx-auto mt-3 btn-common" data-aos="fade-up">
                Tümüne göz at
            </a>
        </div>
    </div>
</section>



<!-- Nasıl? -->
<section class="how-to mt-10" data-aos="fade-up">
    <div class="container">
        <div class="tab-container">
            <!-- Tab Buttons -->
            <div class="tab-buttons">
                @foreach (HomeTabPostLanguageInfo item in Model.HomeTabPostLanguageInfos)
                {
                    <button class="tab-button @(index == 0 ? "active" : "") py-4 md:px-20 px-2 md:text-2xl text-sm font-extrabold text-center" data-tab="@item.Id">
                        @item.Title
                    </button>
                    index++;
                }
            </div>

            <!-- Tab Content -->
            <div class="tab-content">
                @foreach (HomeTabPostLanguageInfo item in Model.HomeTabPostLanguageInfos)
                {
                    <div id="@item.Id"
                         class="tab-pane @(sayac == 1 ? "active" : "") bg-primary-gray rounded-5 shadow-md md:py-16 md:px-10 py-10 px-4 overflow-hidden">
                        <div class="grid md:grid-cols-2 md:grid-rows-2 grid-cols-1 md:gap-7 gap-4 xl:px-20 px-0">
                            @foreach (var content in item.HomeTabPostLanguageInfoContents.Where(c => c.Status).OrderBy(c => c.Sequence))
                            {
                                <div class="flex gap-4" data-aos="fade-up">
                                    <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white text-3xl shrink-0 font-medium text-primary-red">
                                        @sayac
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <div class="text-primary-dark text-2xl font-semibold">
                                            @content.Title
                                        </div>
                                        <div class="text-primary-dark text-base">
                                            @Html.Raw(content.Body)
                                        </div>
                                    </div>
                                </div>
                                sayac++;
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Yardımcı Videolar -->
<section class="helper-videos mt-20">
    <div class="container">
        <div class="flex xl:flex-row flex-col gap-5">
            <!-- Single Video -->
            <div class="xl:max-w-sm bg-primary-gray rounded-5 shadow-md group h-full shrink-0 xl:w-1/3 w-full video-item" data-aos="fade-up" data-video-id="@Model.HelperVideoLanguageInfo?.HelperVideo.Video.Split("?v=")[1]" data-title="@Model.HelperVideoLanguageInfo?.Title" data-modal-target="video-modal" data-modal-toggle="video-modal">
                <a class="relative overflow-hidden block rounded-t-5">
                    <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear" src="/Images/HelperVideo/@Model.HelperVideoLanguageInfo?.HelperVideo.Image" alt="@Model.HelperVideoLanguageInfo?.Title" />
                    <div class="absolute inset-0 flex items-center justify-center text-white text-6xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                        <span class="icon-play"></span>
                    </div>
                </a>
                <a class="p-5 text-center text-primary-dark block">
                    <div class="inline-flex flex-col gap-1">
                        <h5 class="tracking-tight">@Model.HelperVideoLanguageInfo?.UpTitle</h5>
                        <p class="text-2xl font-bold line-clamp-1">
                            @Model.HelperVideoLanguageInfo?.Title
                        </p>
                    </div>
                </a>
            </div>
            <div class="flex flex-col w-full relative mt-6 md:mt-0"
                 data-aos="fade-up"
                 data-aos-delay="100">
                <div class="flex items-center justify-between mb-10">
                    <div class="text-primary-dark dark:text-white md:text-3xl text-xl font-bold">
                        Yardımcı Videolar
                    </div>
                    <a href="/HelperVideo" class="btn mr-1 btn-common">Tümüne göz at</a>
                </div>
                <!-- Video Slider -->
                <div class="swiper video-slider">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper min-w-0">
                        <!-- Slides -->
                        @foreach (HelperVideoLanguageInfo item in Model.HelperVideoLanguageInfos)
                        {
                            <!-- Slide1 -->
                            <div class="swiper-slide">
                                <div class="max-w-xs bg-primary-gray rounded-5 shadow-md group video-item" data-aos="fade-up" data-video-id="@item.HelperVideo.Video.Split("?v=")[1]" data-title="@item.Title" data-modal-target="video-modal" data-modal-toggle="video-modal">
                                    <a class="relative overflow-hidden block max-h-44 min-h-44 rounded-t-5">
                                        <img class="rounded-t-5 group-hover:scale-150 transition-all duration-150 ease-linear" src="/Images/HelperVideo/@item.HelperVideo.Image" alt="@item.Title" />
                                        <div class="absolute inset-0 flex items-center justify-center text-white text-3xl transition-colors duration-150 ease-in group-hover:text-primary-red group-hover:animate-pulse">
                                            <span class="icon-play"></span>
                                        </div>
                                    </a>
                                    <a class="p-5 text-center text-primary-dark block">
                                        <div class="inline-flex flex-col gap-1">
                                            <h5 class="tracking-tight">
                                                @item.UpTitle
                                            </h5>
                                            <p class="text-2xl font-bold line-clamp-1">
                                                @item.Title
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Prev Video -->
                <div class="flex items-center justify-between text-xl text-primary-gray video-slider-prev absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 -left-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
                    <span class="icon-chevron-left"></span>
                </div>

                <!-- Next Video -->
                <div class="flex items-center justify-between text-2xl text-primary-gray video-slider-next absolute top-1/2 rounded-5 p-2 bg-primary-red/50 w-10 h-10 z-10 -right-3 hover:bg-primary-red transition-colors duration-150 ease-linear">
                    <span class="icon-chevron-right"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- İletişime Geçin -->
<section class="cta-contact-us mt-10" data-aos="fade-up">
    <div class="animated-background bg-gradient-to-r from-primary-red via-red-800 to-red-900">
        <div class="container">
            <div class="flex flex-col md:flex-row md:items-center justify-between gap-4 py-20 md:px-32 px-0">
                <div class="flex flex-col gap-2 lg:max-w-2xl md:max-w-xl text-white">
                    <div class="text-base">
                        İlk adımı atmak için bizimle iletişime geçin
                    </div>
                    <div class="text-4xl font-bold">
                        Dijital dönüşüm yolculuğunuzun her aşamasında
                        yanınızdayız
                    </div>
                </div>
                <a href="/Contact" class="btn btn-common">İletişime geçin</a>
            </div>
        </div>
    </div>
</section>

<!-- Bize Güvenen Markalar -->
<section class="trusted-brands mt-10" data-aos="fade-up">
    <div class="container">
        <div class="flex flex-col gap-6 pb-10 border-b border-primary-gray">
            <div class="text-primary-dark dark:text-white md:mb-10 mb-4 text-3xl font-bold text-center">
                Bize Güvenen Markalar
            </div>

            <div class="swiper brand-slider w-full sm:px-20 px-5">
                <div class="swiper-wrapper">
                    @foreach (Brand item in Model.Brands)
                    {
                        <div class="swiper-slide">
                            <div class="flex items-center justify-center">
                                <img src="/Images/Brand/@item.Media" alt="@item.Title" />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Prev Video -->
            <div class="flex items-center justify-between text-xl text-primary-gray brand-slider-prev absolute top-24 2xl:left-14 xl:left-5 left-10 rounded-5 p-2 bg-primary-red/50 w-10 h-10 xl:z-10 z-60 hover:bg-primary-red transition-colors duration-150 ease-linear">
                <span class="icon-chevron-left"></span>
            </div>

            <!-- Next Video -->
            <div class="flex items-center justify-between text-2xl text-primary-gray brand-slider-next absolute top-24 2xl:right-14 xl:right-5 right-10 rounded-5 p-2 bg-primary-red/50 w-10 h-10 xl:z-10 z-60 hover:bg-primary-red transition-colors duration-150 ease-linear">
                <span class="icon-chevron-right"></span>
            </div>

            <a href="/BusinessPartners"
               class="btn mx-auto mt-3 btn-common">Tümüne göz at</a>
        </div>
    </div>
</section>

<!-- Blog -->
<section class="blog mt-10">
    <div class="container">
        <div class="flex flex-col gap-6">
            <div class="text-primary-dark dark:text-white md:mb-10 mb-4 text-center"
                 data-aos="fade-up">
                <div class="text-3xl font-bold">Blog</div>
                <div class="text-sm">
                    Türkiye'nin e-imza blogu E-Güven’den sektörden ve
                    bizden haberler
                </div>
            </div>

            <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
                @foreach (BlogLanguageInfo item in Model.BlogLanguageInfos)
                {
                    <div class="relative rounded-5 overflow-hidden h-56" data-aos="fade-up">
                        <a href="/blog-detay/@item.Slug" class="block group rounded-5 overflow-hidden">
                            <img src="/Images/Blog/@item.Blog.Image" alt="@item.Title" class="w-full h-full rounded-5 group-hover:scale-150 transition-all duration-150 ease-in object-cover" />
                            <div class="absolute inset-0 bg-primary-dark/50"></div>
                            <div class="absolute bottom-0 left-0 right-0 p-5">
                                <a href="/blog-detay/@item.Slug" class="text-white">
                                    <span class="text-lg font-bold block">@item.Title</span>
                                    <span class="text-xs">@item.Blog.PublicationTime.ToString("dd MMMM yyyy")</span>
                                </a>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <a href="/blog-list-row" class="btn mx-auto mt-3 btn-common" data-aos="fade-up">Tümüne göz at</a>
        </div>
    </div>
</section>

<div id="video-modal"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white"
                    id="video-modal-title">
                    PIN Kodu Sorgulama
                </h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        id="close-video-modal">
                    <svg class="w-3 h-3"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <div class="rounded-5 mb-10 hidden"
                     id="main-video-player">
                    <iframe width="100%"
                            height="100%"
                            src="https://www.youtube.com/embed/GuaJ2DuWUrM?si=S66iooYseSa8kCBi"
                            title="YouTube video player"
                            class="rounded-5 md:h-[600px] h-[315px]"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen
                            id="main-video-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import {
        stickyHeader,
        checkTheme,
        heroSlider,
        newsSlider,
        videoSlider,
        customTab,
        brandSlider,
        mobileSubMenu,
        drawerControl,
        videoPlayerShow,
    } from '/assets/js/main.js'
    document.addEventListener('DOMContentLoaded', function () {
        stickyHeader()
        checkTheme()
        heroSlider()
        newsSlider()
        videoSlider()
        customTab()
        brandSlider()
        mobileSubMenu()
        drawerControl()
        videoPlayerShow()
        AOS.init({
            duration: 800,
        })
    })
</script>